<% content_for(:title) do %>
  Commits
<% end %>

<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>
<div class="row">
  <h1>Commits </h1>

  <%= render 'shared/loading' %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>

<%= javascript_include_tag "commits_index" %>
