<p id="notice"><%= notice %></p>

<div class="row">
  <div class="commit">
    <p class="commit-title"><%=@commit.title %></p>
    <div class="commit-meta">
      <span class="float-right">
        <span class="sha-block">commit hash
          <span class="commit-hash">
            <%=@commit.commit_hash %>
          </span>
        </span>
      </span>
    <span class="commit-author-section">
      <%=@commit.developer.email %>
    </span> committed on <%=@commit.date %>

    </div>
  </div>

  <div class="commit-details">
    <p class="commit-detail-header"></p>
    <div class="details-content">
        <ul class="accordian vertical menu" data-accordion-menu>
          <li>
            <a href="#">Details</a>
            <ul class="menu vertical nested">
              <li>
                <a href="#">Message</a>
                <ul class="menu vertical nested">
                  <%=@commit.message %>
                </ul>
              </li>
              <li>
                <a href="#">Filepaths</a>
                <ul class="menu vertical nested">
                  <% @commit.filepaths.each do |filepath| %>
                    <%= filepath.filepath %>
                  <% end %>
                </ul>
              </li>
              <li>
                <a href="#">Researcher Notes</a>
                <ul class="menu vertical nested">
                  <%= pretty_code(@commit.notes).html_safe %>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>
