<p id="notice"><%= notice %></p>

<div class="row">
  <div class="commit">
    <p class="commit-title">Commit: <%=@commit.commit_hash %></p>
    <div class="commit-meta">
        <ul class="accordian vertical menu" data-accordion-menu>
          <li>
            <a href="#">Details</a>
            <ul class="menu vertical nested">
              <li>
                <a href="#">Commit Date</a>
                <ul class="menu vertical nested">
                   <%=@commit.date_created %>
                </ul>
              </li>
              <li>
                <a href="#">Author</a>
                <ul class="menu vertical nested">
                   <%=@commit.developer.email %>
                </ul>
              </li>
              <li>
                <a href="#">Message</a>
                <ul class="menu vertical nested">
                  <%=@commit.message %>
                </ul>
              </li>
              <li>
                <a href="#">Filepaths</a>
                <ul class="menu vertical nested">
                  <% @commit.filepaths.each do |filepath| %>
                    <%= filepath.filepath %>
                  <% end %>
                </ul>
              </li>
              <li>
                <a href="#">Researcher Notes</a>
                <ul class="menu vertical nested">
                  <%=@commit.notes %>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>
