<p id="notice"><%= notice %></p>

<div class="row">
  <div class="commit">
    <p class="commit-title"><%=@commit.title %></p>
    <p><%=@commit.message %></p>
    committed on <%=@commit.date %>
    <div class="commit-meta">
      <span class="float-right">
        <span class="sha-block">
          <span class="commit-hash">
            <a href=<%=@commit.filepaths[0].project.git_commit_url_prefix+@commit.commit_hash %>>Find On Github</a>
          </span>
        </span>
      </span>
    <span class="commit-author-section">
      <div id="developer_id" style="display:none;"><%=@commit.developer.id %></div>
      <% if @commit.developer.email.include? '@' %>
      <h3>Developer's Email Address:
        <button class="button" type="button" id="email_fetch">Fetch Email</button>
        <span id="developer_email" class="hidden"></span>
      </h3>
      <% elsif @commit.developer.email.include? ' ' %>
      <h3>Developer's Name: <%=@commit.developer.email %></h3>
      <% else %>
      <h3>Developer's Username: <%=@commit.developer.email %></h3>
      <% end %>
      <a class="button" id="github_search" href=""></a>
    </span>
    </div>
  </div>
</div>
<div class="float-left">
  <div class="project-logo">
    <span style= "height:2em; width:2em;" class="<%= @commit.filepaths[0].project.name.downcase %>-inline-logo"></span>
  </div>
  <div id="project-details" class="project-details" style="background-color:<%=@commit.filepaths[0].project.bg_color %>;">
    <span> <%= @commit.filepaths[0].project.name %> </span>
  </div>
  <% if @commit.fixes.present? %>
  <div class="commit-fix"><i class="fi-lock"></i>&nbsp;Fix
    &nbsp;&nbsp;&nbsp;
    <%= @commit.fixes[0].vulnerability.cve %>
  </div>
  <% elsif @commit.vccs.present? %>
  <div class="commit-vcc"><i class="vhp-icon-vcc"></i>&nbsp;VCC
    &nbsp;&nbsp;&nbsp;
    <%= @commit.vccs[0].vulnerability.cve %>
  </div>
  <% end %>
</div>

<div class="full-wide-cards-commits">
  <div id="commit_id" style="display:none;"><%=@commit.id %></div>
    <div id="filepaths" class="float-left">
      <% @commit.commit_filepaths.each do |cf| %>
        <li id="<%= cf.filepath.id %>">
          <div id="filepath" style="display:none;"><%=cf.filepath.filepath %></div>
          <%= link_to cf.filepath do %>
             <i class="vhp-icon-fix-file"></i> <%= cf.filepath.filepath %>
          <% end %>
          <div id="filepath_insert_<%= cf.filepath.id %>" style="display:none;"><%=cf.insertions %></div>
          <div id="filepath_delete_<%= cf.filepath.id %>" style="display:none;"><%=cf.deletions %></div>
          &nbsp;&nbsp;&nbsp;
          <div class="float-right" id="churn-bar-<%= cf.filepath.id %>"></div>
        </li>
      <% end %>
    </div>
</div>


<%= javascript_include_tag "commits/show" %>
