<p id="notice"><%= notice %></p>

<div class="row">
  <div class="commit">
    <p class="commit-title"><%=@commit.title %></p>
    committed on <%=@commit.date %>
    <div class="commit-meta">
      <span class="float-right">
        <span class="sha-block">commit hash
          <span class="commit-hash">
            <%=@commit.commit_hash %>
          </span>
        </span>
      </span>
    <span class="commit-author-section">
      <div id="developer_id" style="display:none;"><%=@commit.developer.id %></div>
      <% if @commit.developer.email.include? '@' %>
      <h3>Developer's Email Address:
        <button class="button" type="button" id="email_fetch">Fetch Email</button>
        <span id="developer_email" class="hidden"></span>
      </h3>
      <% elsif @commit.developer.email.include? ' ' %>
      <h3>Developer's Name: <%=@commit.developer.email %></h3>
      <% else %>
      <h3>Developer's Username: <%=@commit.developer.email %></h3>
      <% end %>
      <a class="button" id="github_search" href=""></a>
    </span>
    </div>
  </div>

  <div class="commit-details">
    <p class="commit-detail-header"></p>
    <div class="details-content">
        <ul class="accordian vertical menu" data-accordion-menu>
          <li>
            <a href="#">Details</a>
            <ul class="menu vertical nested is-active">
              <li>
                <a href="#">Message</a>
                <ul class="menu vertical nested">
                  <%=@commit.message %>
                </ul>
              </li>
              <li>
                <a href="#">Filepaths</a>
                <ul class="menu vertical nested">
                  <ul>
                    <% @commit.filepaths.each do |f| %>
                      <li>
                        <%= link_to f do %>
                           <i class="vhp-icon-fix-file"></i> <%= f.filepath %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">Researcher Notes</a>
                <ul class="menu vertical nested">
                  <%= pretty_code(@commit.notes).html_safe %>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>

<%= javascript_include_tag "commits/show" %>
