<p id="notice"><%= notice %></p>


<div class="row">
  <p><%=@commit.title %></p>
  <p><%=@commit.commit_hash %></p>
  <p><%=@commit.developer %></p>
  <p><%=@commit.description %></p>
</div>
<p><%=@commit.notes %></p>
