<p id="notice"><%= notice %></p>

<div class="row">
  <div class="commit">
    <p class="commit-title"><%=@commit.title %></p>
    <div class="commit-meta">
      <span class="float-right">
        <span class="sha-block">commit hash
          <span class="commit-hash">
            <%=@commit.commit_hash %>
          </span>
        </span>
      </span>
    <span class="commit-author-section">
      <%=@commit.developer.email %>
    </span> committed on <%=@commit.date %>

    </div>
  </div>

  <div class="commit-details">
    <p class="commit-detail-header">Details</p>
    <div class="details-content">
    <p>
      Filepaths:<br>
      <% @commit.filepaths.each do |filepath| %>
          <%= filepath.filepath %>
      <% end %>
    </p>
    </div>
  </div>
</div>
<p><%=@commit.notes %></p>
