<p id="notice"><%= notice %></p>

<div class="commit-meta">
  <div class="grid-x">
    <div class="cell small-8">
      <h4><%=@commit.title %></h4>
      <blockquote>
        <%=@commit.message %>
      </blockquote>
    </div>
    <div class="cell small-4">
      <p><%=@commit.date %></p>
      <p class="sha"><%=@commit.commit_hash %></p>
      <p><a href="<%=@commit.github_url %>">Github <i class="vhp-icon-external"></i></a></p>
      <span class="commit-author-section">
            <%=link_to(@commit.developer.nickname, @commit.developer) %>
      </span>
      </div>
    </div>
  </div>
<div>

<div class="grid-x">
  <div class="project-logo">
    <a href="/tags/project-<%= @commit.filepaths[0].project.name.downcase%>"><span style= "height:2em; width:2em;" class="<%= @commit.filepaths[0].project.name.downcase %>-inline-logo"></span></a>
  </div>
  <div id="project-details" class="project-details" style="background-color:<%=@commit.filepaths[0].project.bg_color %>;">
    <span> <%= @commit.filepaths[0].project.name %> </span>
  </div>
  <% if @commit.fixes.present? %>
  <div class="commit-fix"><i class="fi-lock"></i>&nbsp;Fix
    &nbsp;&nbsp;&nbsp;
     <a style="color: #000000;" href="/vulnerabilities/<%= @commit.fixes[0].vulnerability.id %>"><%= @commit.fixes[0].vulnerability.cve %></a>
  </div>
  <% elsif @commit.vccs.present? %>
  <div class="commit-vcc"><i class="vhp-icon-vcc"></i>&nbsp;VCC
    &nbsp;&nbsp;&nbsp;
    <a style="color: #000000;" href="/vulnerabilities/<%= @commit.vccs[0].vulnerability.id %>"><%= @commit.vccs[0].vulnerability.cve %></a>
  </div>
  <% end %>
</div>

<% @commit.commit_filepaths.each do |cf| %>
  <div class="grid-x">
    <div class="cell filepath small-7 small-offset-1">
        <%= link_to cf.filepath do %>
          <i class="vhp-icon-file"></i> <%= cf.filepath.filepath %>
        <% end %>
    </div>
    <div class="cell small-2">
      <%= render partial: "shared/churn_bar", locals: { commit_filepath: cf } %> 
    </div>
  </div>
<% end %>


<%= javascript_pack_tag "commits_show" %>
