<p id="notice"><%= notice %></p>




<style>
  .commit {
    padding: 8px 8px 0;
    margin: 10px 0;
    font-size: 14px;
    background: #e6f1f6;
    border: 1px solid #c5d5dd;
    border-radius: 3px;
  }

  .commit-title {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 600;
    color: #213f4d;
  }

  .commit-meta {
    padding: 8px;
    margin-right: -8px;
    margin-left: -8px;
    background: #fff;
    border-top: 1px solid #d8e6ec;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .commit-author-section {
    color: #333;
    font-weight: 600;
    white-space: nowrap;
  }

    .sha-block{
      margin-left: 15px;
      font-size: 12px;
      line-height: 24px;
      color: #767676;
    }

    .commit-hash{
      color: #444;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
    }

    .commit-details{
      position: relative;
      margin-top: 16px;
      margin-bottom: 16px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    .commit-detail-header{
      padding: 5px 10px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #d8d8d8;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    .details-content{
      padding-left: 10px;
    }
</style>

<div class="row">
  <div class="commit">
    <p class="commit-title"><%=@commit.title %></p>
    <div class="commit-meta">
      <span class="float-right">
        <span class="sha-block">commit hash
          <span class="commit-hash">
            <%=@commit.commit_hash %>
          </span>
        </span>
      </span>
    <span class="commit-author-section">
      <%=@commit.developer.email %>
    </span> committed on <%=@commit.date %>

    </div>
  </div>

  <div class="commit-details">
    <p class="commit-detail-header">Details</p>
    <div class="details-content">
    <p>
      Filepaths:<br>
      <% @commit.filepaths.each do |filepath| %>
          <%= filepath.filepath %>
      <% end %>
    </p>
    </div>
  </div>
</div>
<p><%=@commit.notes %></p>
