<% content_for(:title) do %>
  <%= @commit.commit_hash %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="grid-x commit">
  <div class="cell small-12 message">
    <h4><%=@commit.title %></h4>
    <pre>
      <%=@commit.message_without_title %>
    </pre>
  </div>
</div>

<div class="grid-x commit author-line">

  <div class="cell small-4 author">
     by <%=link_to(@commit.developer.nickname, @commit.developer, class: 'nickname') %> <%=@commit.date %>
  </div>

  <div class="cell small-4">
  </div>

  <div class="cell small-4 sha">
    commit <%=@commit.commit_hash %> <a href="<%=@commit.github_url %>"> <i class="vhp-icon-github"></i></a>
  </div>

</div>


<div class="grid-x commit links">

  <div class="cell small-12">
    <a href="/tags/project-<%= @commit.project.subdomain%>" class="link">
      <i class="<%= @commit.project.subdomain %>-med-logo logo"></i>
      <span class="name" style="background-color:<%=@commit.project.bg_color %>;">
        <%= @commit.project.name %>
      </span>
    </a>

    <%= render partial: 'fix', collection: @commit.fixes %>
    <%= render partial: 'vcc', collection: @commit.vccs %>
  </div>
</div>

<%= render partial: 'commit_filepath', collection: @commit.commit_filepaths %>
