<p id="notice"><%= notice %></p>

<div class="row">
  <div class="commit">
    <p class="commit-title"><%=@commit.title %></p>
    <p><%=@commit.message %></p>
    committed on <%=@commit.date %>
    <div class="commit-meta">
      <span class="float-right">
        <span class="sha-block">
          <span class="commit-hash">
            <a href=<%=@commit.filepaths[0].project.git_commit_url_prefix+@commit.commit_hash %>>Find On Github</a>
          </span>
        </span>
      </span>
    <span class="commit-author-section">
      <div id="developer_id" style="display:none;"><%=@commit.developer.id %></div>
      <% if @commit.developer.email.include? '@' %>
      <h3>Developer's Email Address:
        <button class="button" type="button" id="email_fetch">Fetch Email</button>
        <span id="developer_email" class="hidden"></span>
      </h3>
      <% elsif @commit.developer.email.include? ' ' %>
      <h3>Developer's Name: <%=@commit.developer.email %></h3>
      <% else %>
      <h3>Developer's Username: <%=@commit.developer.email %></h3>
      <% end %>
      <a class="button" id="github_search" href=""></a>
    </span>
    </div>
  </div>
</div>
<div class="float-left">
  <% if @commit.fixes.present? %>
  <div class="commit-fix"><i class="fi-lock"></i>&nbsp;Fix
    &nbsp;&nbsp;&nbsp;
    <%= @commit.fixes[0].vulnerability.cve %>
  </div>
  <% elsif @commit.vccs.present? %>
  <div class="commit-vcc"><i class="vhp-icon-vcc"></i>&nbsp;VCC
    &nbsp;&nbsp;&nbsp;
    <%= @commit.vccs[0].vulnerability.cve %>
  </div>
  <% end %>
  <div class="project-details" style="background-color:<%=@commit.filepaths[0].project.bg_color %>;">
    <img src="<%=@commit.filepaths[0].project.logo %>"></img>
    Project: <%= @commit.filepaths[0].project.name %>
  </div>
</div>

<div class="row">
  <div class="full-wide-cards-commits">
    <div id="commit_id" style="display:none;"><%=@commit.id %></div>
      <div class="float-left">
        <% @commit.filepaths.zip(@commit.commit_filepaths).each do |f, cf| %>
          <li>
            <%= link_to f do %>
               <i class="vhp-icon-fix-file"></i> <%= f.filepath %>
            <% end %>
          </li>
        <% end %>
      </div>
      <div>
        <% @commit.filepaths.zip(@commit.commit_filepaths).each do |f, cf| %>
            <div id="filepath_insert" style="display:none;"><%=cf.insertions %></div>
            <div id="filepath_delete" style="display:none;"><%=cf.deletions %></div>
            <div id="churn-bar"></div>
        <% end %>
      </div>

  </div>
</div>

<%= javascript_include_tag "commits/show" %>
