<% content_for(:title) do %>
  Developers
<% end %>

<p id="notice"><%= notice %></p>

<%= render('shared/title') do %>
  Developers
<% end %>

<%= render('shared/grid', size: 12) do %>
  <%= render 'shared/loading' %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<%= javascript_include_tag "developers_index" %>
