
<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div id="developer_id" style="display:none;"><%=@developer.id %></div>
<% if @developer.email.include? '@' %>
<h3>Developer's Email Address:
  <button class="button" type="button" id="email_fetch">Fetch Email</button>
  <span id="developer_email" class="hidden"></span>
</h3>
<% elsif @developer.email.include? ' ' %>
<h3>Developer's Name: <%=@developer.email %></h3>
<% else %>
<h3>Developer's Username: <%=@developer.email %></h3>
<% end %>
<a class="button" id="github_search" href=""></a>


<h3>Commits</h3>
<%= render('shared/grid', size: 12) do %>
  <div id="horizontal-punchcard"></div>
<% end %>

<%= render('shared/grid', size: 12) do %>
  <%= render 'shared/loading' =%>

  <table id="datatable" class="display hover" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<%= javascript_packs_with_chunks_tag "developers_show" %>
