<p id="notice"><%= notice %></p>

<div class="row">

  <div class="large-12 columns">
    <div id="developer_id" style="display:none;"><%=@developer.id %></div>
    <% if @developer.email.include? '@' %>
      <h3>Developer's Email Address: <%=@developer.email %></h3>
    <% elsif @developer.email.include? ' ' %>
      <h3>Developer's Name: <%=@developer.email %></h3>
    <% else %>
      <h3>Developer's Username: <%=@developer.email %></h3>
    <% end %>

    <div class="callout secondary">
      <% if @developer.email.include? '@' %>
        <h5> If the developer's email address is public, you can also view their Github profile: <br><br></h5>
        <a class="button" href="https://github.com/search?utf8=%E2%9C%93&q=<%=@developer.email %>+in%3Aemail&type=Users"> Github profile</a>
      <% elsif @developer.email.include? ' ' %>
        <h5> You can view Github profiles that match the developer's name here: <br><br></h5>
        <a class="button" href="https://github.com/search?utf8=%E2%9C%93&q=<%=@developer.email %>+in%3Aname&type=Users"> Github profile</a>
      <% else %>
        <h5> You can view their Github profile directly by their username: <br><br></h5>
        <a class="button" href="https://github.com/<%=@developer.email %>">
          Github profile
        </a>
      <% end %>

    </div>

    <div class="row">
      <h3>Associated Commits: </h3>

      <table id="datatable" class="display" width="100%">
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
      </table>
    </div>

    <%= javascript_include_tag "developers/show" %>

  </div>

</div>
