<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="row">

  <div class="large-12 columns">
    <div id="developer_id" style="display:none;"><%=@developer.id %></div>
    <% if @developer.email.include? '@' %>
      <h3>Developer's Email Address: <%=@developer.email %></h3>
    <% elsif @developer.email.include? ' ' %>
      <h3>Developer's Name: <%=@developer.email %></h3>
    <% else %>
      <h3>Developer's Username: <%=@developer.email %></h3>
    <% end %>

    <div class="callout secondary">
      <% if @developer.email.include? '@' %>
        <h5> If the developer's email address is public, you can also view their Github profile: <br><br></h5>
        <a class="button" href="https://github.com/search?utf8=%E2%9C%93&q=<%=@developer.email %>+in%3Aemail&type=Users"> Github profile</a>
      <% elsif @developer.email.include? ' ' %>
        <h5> You can view Github profiles that match the developer's name here: <br><br></h5>
        <a class="button" href="https://github.com/search?utf8=%E2%9C%93&q=<%=@developer.email %>+in%3Aname&type=Users"> Github profile</a>
      <% else %>
        <h5> You can view their Github profile directly by their username: <br><br></h5>
        <a class="button" href="https://github.com/<%=@developer.email %>">
          Github profile
        </a>
      <% end %>

    </div>
  </div>

  <header>
    <div class="row">
      <section id="horizontal-timeline"></section>
    </div>
  </header>

  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <div class="data-toggles horizontal-center" id="toggle-block"></div>
    </div>
    <div class="small-1 columns horizontal-center" id="zoom-div">
    <span id="zoom-button" class="button material-icons">
      zoom_out
    </span>
      <input type="hidden" id="zoom-bool" name="zoom-bool" value=true>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns horizontal-center">
      <div id="legend" class="callout secondary">
        <h5 id="legend-body"></h5>
      </div>
    </div>
  </div>

  <section id="cd-timeline" class="cd-container">
    <% @events.each do |e| %>
        <div id="<%= e.type %>" data-id='<%= e.date %>'
             class="cd-timeline-block">
          <a id="<%= e.id %>"></a>
          <div class="cd-timeline-img"
               style="background: <%= e.style.color %>">
            <p id="timeline-icon"
               class="material-icons md-32 md-light">
              <%= e.style.icon %>
            </p>
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content">
            <h2 id="title"><%= e.title %></h2>
            <p id="description"><%= markdown(e.description) %></p>
            <a class="see-more-link" href="/<%= e.type.pluralize %>/<%= e.detail_id %> ">See More...</a>
            <span class="cd-date" id="date">
            <% if e.date != nil %>
              <div id="isodate" style="display:none"><%= e.date %></div>
                  <%= pretty_date(e.date) %>
            <% else %> <!-- if the time is not specified, use Time.current (this is a temporary fix) -->
                  <%= Time.current %>
            <% end %>
          </span>
          </div>

        </div>
    <% end %>
  </section>

  <section id="tooltips">
  </section>

  <div class="row">
    <h3>Associated Commits: </h3>

    <table id="datatable" class="display" width="100%">
      <thead></thead>
      <tbody></tbody>
      <tfoot></tfoot>
    </table>
  </div>

  <a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>
  <%= javascript_include_tag "developers/show" %>
  <%= javascript_include_tag "timeline/Event1" %>
  <%= javascript_include_tag "timeline/Filter" %>
  <%= javascript_include_tag "timeline/HorizontalTimeline" %>
  <%= javascript_include_tag "timeline/timeline" %>
</div>
