<%= render('shared/title') do %>
  Vulnerability Clusters
<% end %>

<div class="grid-x">
  <div class="cell tiny-subtitle">
    <b>cluster</b> <em>noun.</em> grouping of vulnerabilities with traits in common
  </div>
</div>

<div class="grid-x">
  <div class="cell medium-8 medium-offset-2">
    <ul class="clusters vertical menu accordion-menu" data-accordion-menu>
      <% @tag_groupings.each do |grouping| %>
        <li>
          <a href="#">By <%=grouping.name %></a>
          <ul class="menu vertical nested">
            <% grouping.tags.each do |tag| %>
              <li>
                <a href="#"><%= tag.name %></a>
                <ul class="menu vertical nested">
                  <li><%= tag.description%></li>
                  <li>
                      <a href="#">Examples</a>
                      <ul class="menu vertical nested">
                        <% tag.top_vulnerabilities(5).each do |v| %>
                          <li>
                            <%= link_to(v.cve, "/vulnerabilities/#{v.cve}")%>
                          </li>
                        <% end %>

                      </ul>
                  </li>
                  <li>
                    <%= link_to("Learn more", "/tags/#{tag.shortname}") %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
