
<%= render('shared/grid', size: 8) do %>

<button class="button project-select-button" type="button"
        data-toggle="progress-project-select">
  All Projects
</button>

<div class="project-select-pane dropdown-pane" id="progress-project-select"
     data-dropdown data-close-on-click="true">
     <button class="button" data-project="0" >
       All Projects
     </button>
    <% @projects.each do |p| %>
      <button class="button"
              data-project="<%= p.id %>" >
            <img class="<%= p.subdomain %>-inline-logo" title="<%= p.name %>">
            <%= p.name%>
      </button>
    <% end %>
</div>

  <p>
    The data set for this project is usable at any time, and has been used in academic literature.
  </p>
<% end %>

<div class="grid-x">
  <div class="cell small-4 small-offset-2 ">
    <span class="progress-header">Known Vulnerabilities</span>
  </div>

  <div class="cell small-4">
    <span class="progress-number"><%= @num_vulns_report %></span>
  </div>
</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    This the current number of historical vulnerabilities that this project knows about.
  </p>
<% end %>

<div class="grid-x">

  <div class="cell small-4 small-offset-2 ">
    <span class="progress-header">Manually Curated</span>
  </div>

  <div class="cell small-4">
    <div class="progress"
         role="progressbar"
         aria-valuenow="<%= @perc_curated %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @perc_report %>">
      <span class="progress-meter progress-color" style="width: <%= @perc_curated %>%">
         <p class="progress-meter-text"><%= @perc_report %></p>
      </span>
    </div>
  </div>

</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    These are the vulnerabilities that have received a curator's attention. Curation is assigned at random so that this population is representative of the whole.
  </p>
<% end %>

<div class="grid-x">

  <div class="cell small-4 small-offset-2 ">
    <span class="progress-header">Vulnerabilities with Fixes</span>
  </div>

  <div class="cell small-4">
    <div class="progress"
         role="progressbar"
         aria-valuenow="<%= @perc_fixes %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @fix_report %>">
      <span class="progress-meter progress-color" style="width: <%= @perc_fixes %>%">
         <p class="progress-meter-text"><%= @fix_report %></p>
      </span>
    </div>
  </div>

</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    Vulnerability fixes are first automatically identified by parsing the CVE entries and scraping any relevent links to bug reports.
  </p>
<% end %>

<div class="grid-x">
  <div class="cell small-4 small-offset-2 ">
    <span class="progress-header">VCCs Found</span>
  </div>

    <div class="cell small-4">
      <%= render 'blockily', num: @num_vccs %>
    </div>
</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    A vulnerability-contributing commit (VCC) is a commit that has been tagged as a likely origin of a vulnerability.
  </p>
<% end %>

<div class="grid-x">

  <div class="cell small-4 small-offset-2 ">
    <span class="progress-header">Vulnerabilities with VCCs</span>
  </div>

  <div class="cell small-4">
    <div class="progress"
         role="progressbar"
         aria-valuenow="<%= @perc_vccs %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @vcc_report %>">
      <span class="progress-meter progress-color" style="width: <%= @perc_vccs %>%">
         <p class="progress-meter-text"><%= @vcc_report %></p>
      </span>
    </div>
  </div>

</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    VCCs are typically found manually, with some automated techniques.
  </p>
<% end %>
