<%= render('shared/title') do %>
  Curation Process
<% end %>

<%= render('shared/grid', size: 8) do %>
  <h2><%=@project.name%> Progress</h1>
<% end %>

<div class="grid-x">

  <div class="cell small-2 small-offset-2 ">
    <span class="progress-header">Manual Curation</span>
  </div>

  <div class="cell small-6">
    <div class="success progress"
         role="progressbar"
         aria-valuenow="<%= @perc_curated %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @perc_report %>">
      <span class="progress-meter" style="width: <%= @perc_curated %>%">
         <p class="progress-meter-text"><%= @perc_report %></p>
      </span>
    </div>
  </div>

</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    These are the vulnerabilities that have received a curator's attention. Curation is assigned at random so that this population is representative of the whole.
  </p>
<% end %>

<div class="grid-x">

  <div class="cell small-2 small-offset-2 ">
    <span class="progress-header">Vulnerabilities with Fixes</span>
  </div>

  <div class="cell small-6">
    <div class="success progress"
         role="progressbar"
         aria-valuenow="<%= @perc_fixes %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @fix_report %>">
      <span class="progress-meter" style="width: <%= @perc_fixes %>%">
         <p class="progress-meter-text"><%= @fix_report %></p>
      </span>
    </div>
  </div>

</div>

<%= render('shared/grid', size: 8) do %>
  <p>
    Vulnerability fixes are first automatically identified by parsing the CVE entries and scraping any relevent links to bug reports.
  </p>
<% end %>
