<% content_for(:title) do %>
  Curate a Vulnerability
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('curationwizard') %>
  <%= stylesheet_link_tag('select2') %>
  <%= stylesheet_link_tag('icons') %>
<% end %>

<% content_for(:container_css) { "fluid no-padding " }%>

<%= render('shared/title') do %>
  Curate a Vulnerability
<% end %>
<div class="grid-container off-canvas-wrapper">
<div class="off-canvas-content" data-off-canvas-content>

<div class="grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_vulns_report %></div>
    <div class="cell writing vhp-markdown">
Use this tool to help answer the curation questions, and then copy the generated YAML into your pull request. Your answers are stored in your browser, so you can come back later. No information is stored on our servers.
    </div>
  </div>
</div>

<div class="callout primary" id="splash">
  <div class="grid-xy">
    <h2>Find Vulnerability to curate</h2>
    <p>
    <select id="cve-lookup">
    <option><option>
    <% @cve.each do |p| %>
      <option value='<%= p.cve %>'><%= p.cve %></option>
      <% end %>
    </select></p>
    <button type="button" id="BeginCuration" class="button">Begin Curation</button>
    </div>
    <div class="callout primary">
      <div class="grid-x grid-margin-x medium-up-2">
        <div class="cell">
          <h3>Curations in Progress</h3>
          <div class="card">
            <div id="inProgressCurations">
            </div>
              <button type="button" class="button" id="ContinueCuration">Continue</button>
          </div>
        </div>
        <div class="cell">
          <h3>Don’t see your CVE here?</h3>
          <div class="card">
            <div class="card-section">
              <input type="text" placeholder="Identify a new CVE" id="newCVE" />
              <p>Use this to register a new CVE that exists elsewhere, but is not in our database.</p>
              <button type="button" class="button" disabled id="startNewCuration">Register New Curation</button>
            </div>
          </div>
        </div>
        <div class="cell">
        <p id="curationSummary"></p>
        </div>
      </div>


    </div>

    <%# <div class="grid-x align-right" id="notSure"><h4>Not sure where to start? <button type="button" class="button">Find me a Vulnerability to curate</button></h4></div> %>


  </div>
  <div class="brag-row grid-x grid-margin-x small-up-2 medium-up-3 align-center hide" id="curationTool">
      <% @project_data.each do |p| %>
          <div class="card" style="width: 300px; background-color: <%= p.bg_color  %>" data-project="<%= p.subdomain %>">
            <div class="card-image">
            <img class="<%= p.subdomain %>-large-logo card-logo"
            title="<%= p.fullname  %>">
            </div>
            <div class="card-title">
                <h4><%= p.fullname %></h4>
            </div>
          </div>
      <% end %>
  </div>
  <div class="nav-buttons">
    <button type="button" id="resetButton" class="hollow button">Reset</button>
    <button type="button" id="open-yaml" class="button" data-toggle="offCanvasYaml">View YAML</button>
    <button type="button" id="open-notes" class="button" data-toggle="offCanvasNotes">Open Notes</button>
  </div>
</div>

<!-- Off Canvas CopyPasta -->
<div class="off-canvas position-right" id="offCanvasYaml" data-off-canvas data-transition="overlap">
<h3>YAML File <span class="material-icons" data-toggle="offCanvasYaml">close</span></h3>
<textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="YAMLOutput" placeholder="Your In-Progress YAML file here"></textarea>
<div class="button-group">
<button type="button" class="button" id="CopyYAML">Copy To Clipboard</button>
<button type="button" class="button" id="download">Download <span class="material-icons-outlined">download_for_offline</span></button>
</div>

<div class="off-canvas position-right" id="offCanvasNotes" data-off-canvas data-transition="overlap">
<h3>Notes <span class="material-icons" data-toggle="offCanvasNotes">close</span></h3>
<textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="Notes">Your Notes Here</textarea>
<button id="clear-notes" class="button">Clear</button>
</div>
</div>
