<% content_for(:title) do %>
  Articles
<% end %>

<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Articles
<% end %>

<ul class="tabs"
    id="article-tabs"
    data-tabs
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500">
  <li class="tabs-title is-active">
    <a href="#all" aria-selected="true">
      <i class="vhp-icon-article"></i>
      All
    </a>
  </li>
  <li class="tabs-title">
    <a href="#files">
      <i class="fi-cloud"></i>
      Files
    </a>
  </li>
  <li class="tabs-title">
    <a href="#cves">
      <i class="vhp-icon-article"></i>
      CVEs
    </a>
  </li>
</ul>

<%= render 'shared/loading' %>

<div data-tabs-content="article-tabs">
  <div class="tabs-panel is-active" id="all">
      <div id="article-listing-same"></div>
  </div>
  <div class="tabs-panel" id="files">
    <div id="article-listing-files"></div>
  </div>
  <div class="tabs-panel" id="cves">
     <div id="article-listing-cves"></div>
  </div>
</div>

<%= render 'shared/article_templates' %>
<%= javascript_include_tag "articles_index" %>
