<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Articles
<% end %>

<div id="article-listing-same"></div>
<%= render 'shared/article_templates' %>
<%= javascript_include_tag "articles/index" %>
