<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Articles
<% end %>

<%= render('shared/title') do %>
<ul class="tabs"
    id="tag-tabs"
    data-tabs
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500">
  <li class="tabs-title is-active">
    <a href="#all" aria-selected="true">
      <i class="vhp-icon-article"></i>
      All
    </a>
  </li>
  <li class="tabs-title">
    <a href="#files">
      <i class="fi-cloud"></i>
      Files
    </a>
  </li>
  <li class="tabs-title">
    <a href="#cves">
      <i class="vhp-icon-article"></i>
      CVEs
    </a>
  </li>
</ul>
<% end %>

<div data-tabs-content="tag-tabs">
  <div class="tabs-panel is-active" id="all">
    <div id="article-listing-same"></div>
  </div>
  <div class="tables-panel" id="files">
    <% if @articleFilepaths.length() != 0 %>
        <% @articleFilepaths.each do |article| %>
          <div id="blurb-1wide-template" class="vhp-articles blurb ">
            <div class="grid-x grid-margin-x grid-margin-y align-center">
            <div class="cell medium-3"><div class="vhp-art-<%= article.art %>"></div></div>
              <div class="cell medium-8">
                  <h3><a href="../articles/<%= article.id %>"><%= article.title %></a></h3>
                  <p><%= article.blurb.html_safe %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
              <div id="blurb-1wide-template" class="vhp-articles blurb ">
                <div class="grid-x grid-margin-x grid-margin-y align-center">
                <ul class="full-wide-subtitles">
                  <br />
                  <h3>There are no articles here... yet</h3>
                  <ul>
                </div>
              </div>
        <% end %>
  </div>
</div>

<%= render 'shared/article_templates' %>
<%= javascript_include_tag "articles/index" %>
