<% content_for(:title) do %>
  <%= @article.title %>
<% end %>

<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  <%= @article.title %>
<% end %>

<div class="grid-x">
  <div class="cell">
    <h4 class="title-byline">
      <%= @article.author %>
    </h4>
  </div>
</div>

<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell medium-8 medium-offset-2">
    <div class="vhp-art-<%= @article.art %>"></div>
  </div>
</div>

<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell medium-6 medium-offset-3 vhp-markdown">
    <%= @article.fulltext %>
  </div>
</div>

