<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  <%= @article.title %>
  <%= @article.author %>
<% end %>

<div id="blurb-1big-template"
     class="vhp-articles blurb blurb-big cell medium-9">
  <div class="grid-x grid-margin-x grid-margin-y align-center">
    <div class="blurb-art cell medium-5">
      <div class="vhp-art-<%= @article.art %>"></div>
    </div>
    <div class="blurb-text cell medium-4">
      <%= @article.blurb.html_safe %>
      <%= @article.fulltext.html_safe %>
    </div>
  </div>
</div>
