
<a href="/vulnerabilities/<%=local_assigns[:v].id%>" class="vuln_card">

  <% if local_assigns[:v].nickname.empty? %>
    <div class="title">
      <%= local_assigns[:v].cve %>
    </div>
  <% else %>
    <div class="title">
      <%= local_assigns[:v].nickname %>
    </div>
    <div class="subtitle">
      <%= local_assigns[:v].cve %>
    </div>
  <% end %>


  <div class="icons">
    <% local_assigns[:v].tags.each do |t| %>
      <i title="<%= t.name %>"
         class="vhp-icon-<%= t.icon %>"
         style="color: <%= t.color %>" ></i>
    <% end %>
  </div>

  <% if local_assigns[:v].articles.any? %>
    <hr>
    <% local_assigns[:v].articles.each do |a| %>
       <div class="list_article_art"> <!-- TODO --> </div>
       <div class="list_article_title"> <%= a.title %> </div>
    <% end %>
  <% end %>

</a>
