
<a href="/vulnerabilities/<%=local_assigns[:v].id%>" class="vuln_card">

  <% if local_assigns[:v].nickname.empty? %>
    <div class="title-only">
      <%= local_assigns[:v].cve %>
    </div>
  <% else %>
    <div class="title">
      <%= local_assigns[:v].nickname %>
    </div>
    <div class="subtitle">
      <%= local_assigns[:v].cve %>
    </div>
  <% end %>

  <div class="date-upvote-bar">
    <div class="date"
         title="<%= v.announced %>">
      <%= time_ago_in_words(v.announced) %> ago
    </div>

    <% if local_assigns[:v].upvotes > 0 %>
      <div class="upvotes">
        <span class="upvote-number">
          <%= local_assigns[:v].upvotes %>
        </span>
        <i title="<%= local_assigns[:v].upvotes %> upvotes"
           class="vhp-icon-upvote"></i>
      </div>
    <% end %>
  </div>

  <div class="cwe">
    <% local_assigns[:v].tags.each do |t| %>
      <% if t.name.starts_with? 'CWE' %>
        <%= t.name.split(/:/)[1].strip %>
      <% end %>
    <% end %>
  </div>

  <div class="icons">
    <% local_assigns[:v].tags.each do |t| %>
      <i title="<%= t.name %>"
         class="vhp-icon-<%= t.icon %>"
         style="color: <%= t.color %>" ></i>
    <% end %>
  </div>

  <% if local_assigns[:v].articles.any? %>
    <hr>
    <% local_assigns[:v].articles.each do |a| %>
       <div class="list_article">
         <%= image_tag(a.art) %>
         <%= a.title %>
       </div>
    <% end %>
  <% end %>

</a>
