<% content_for(:title) do %>
  Wizard
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('curationwizard') %>
<% end %>

<%= render('shared/title') do %>
  Curation Tool
<% end %>

<!-- Vulnerabilities -->
<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_vulns_report %></div>
    <div class="cell writing vhp-markdown">
Use this tool to generate your YAML files by asking a series of simple questions about your vulnerability.
    </div>
  </div>
</div>

<!-- Projects -->
<div class="brag-row grid-x grid-margin-x small-up-2 medium-up-3 text-center">
    <% @project_data.each do |p| %>
        <div class="card" style="width: 300px;">
        <img class="<%= p.subdomain %>-large-logo card-logo"
        title="<%= p.fullname  %>">
            <div class="card-section">
            <h4><%= p.fullname %></h4>
                <p><%= p.vulnerabilities_description  %></p>
            </div>
            </div>
    <% end %>
</div>