<% content_for(:title) do %>
  Wizard
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('curationwizard') %>
  <%= stylesheet_link_tag('select2') %>
  <%= stylesheet_link_tag('icons') %>
<% end %>

<%= render('shared/title') do %>
  Curation Tool
<% end %>
<div class="off-canvas-wrapper">
<div class="off-canvas-content" data-off-canvas-content>
<!-- Vulnerabilities -->
<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_vulns_report %></div>
    <div class="cell writing vhp-markdown">
Use this tool to generate your YAML files by asking a series of simple questions about your researched vulnerability.
    </div>
  </div>
</div>

<!-- Projects -->
<div class="brag-row grid-x grid-margin-x small-up-2 medium-up-3 align-center" id="curationTool">
    <% @project_data.each do |p| %>
        <div class="card" style="width: 300px; background-color: <%= p.bg_color  %>" data-project="<%= p.subdomain %>">
        <div class="card-image">
        <img class="<%= p.subdomain %>-large-logo card-logo"
        title="<%= p.fullname  %>">
        </div>
            <div class="card-title">
            <h4><%= p.fullname %></h4>
            </div>
            </div>
    <% end %>
</div>
<!-- CWE Lookup -->



<button type="button" id="resetButton" class="hollow button">Reset</button>
<button type="button" id="open-yaml" class="button" data-toggle="offCanvasYaml">Open YAML Preview</button>
<button type="button" id="open-notes" class="button" data-toggle="offCanvasNotes">Open Notes</button>

</div>



<!-- Off Canvas CopyPasta -->
<div class="off-canvas position-right" id="offCanvasYaml" data-off-canvas data-transition="overlap">
<h3>Your YAML</h3>
<textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="YAMLOutput" placeholder="Your In-Progress YAML file here"></textarea>
<div class="button-group">
<button type="button" class="button" id="CopyYAML">Copy To Clipboard</button>
<button type="button" class="hollow button" id="download"><i class="fas fa-download"></i></button>
</div>
</div>

<div class="off-canvas position-left" id="offCanvasNotes" data-off-canvas data-transition="overlap">
<h3>Notes</h3>
<textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="Notes">Your Notes Here</textarea>
</div>
</div>
