<% content_for(:title) do %>
  Wizard
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('curationwizard') %>
  <%= stylesheet_link_tag('select2') %>
<% end %>

<%= render('shared/title') do %>
  Curation Tool
<% end %>
<div class="off-canvas-wrapper">
<div class="off-canvas-content" data-off-canvas-content>
<!-- Vulnerabilities -->
<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_vulns_report %></div>
    <div class="cell writing vhp-markdown">
Use this tool to generate your YAML files by asking a series of simple questions about your researched vulnerability.
    </div>
  </div>
</div>

<!-- Projects -->
<div class="brag-row grid-x grid-margin-x small-up-2 medium-up-3 align-center">
    <% @project_data.each do |p| %>
        <div class="card" style="width: 300px; background-color: <%= p.bg_color  %>">
        <div class="card-image">
        <img class="<%= p.subdomain %>-large-logo card-logo"
        title="<%= p.fullname  %>">
        </div>
            <div class="card-title">
            <h4><%= p.fullname %></h4>
            </div>
            </div>
    <% end %>
</div>

<!-- CWE Lookup -->
<div class="brag-row grid-x align-center">
  <span id="cwe-id-label" class="label secondary">CWE: </span> 
  <select id="cwe-id" class="cell small-6" aria-describedby="cwe-id-label"></select>
</div>


<div class="button-group align-center">
<button class="button primary" disabled>Previous</button>
<button type="button" class="button primary">Next</button>
</div>

<button type="button" id="open-menu" class="button" data-toggle="offCanvas">Open Menu</button>
</div>



<!-- Off Canvas CopyPasta -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
<h3>Your YAML</h3>
<textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="YAMLOutput">Your In Progress YAML FILE HERE</textarea>
<button type="button" class="button" id="CopyYAML">Copy To Clipboard</button>
</div>
</div>