<% content_for(:title) do %>
  Case Studies
<% end %>

<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell medium-6 medium-offset-3 centered-headers">

    <h1>Case Studies</h1>
    <p>We carefully choose which projects to study based on the following
      criteria:</p>
    <ul>
      <li>Does this project keep <b>good records</b>? Specifically: do they
        faithfully disclose vulnerabilities? Can we trace the vulnerabilities to
        their version control fix
        commits?
      </li>
      <li>Is the project <b>large or meaningful</b> enough to have it history be
        useful to professionals, students, and academics?</li>
      <li>Does pursuing this data enable us to help <b>draw some meaningful
          conclusions</b>, potentially via statistics? This means broadening our
        scope via programming languages, technologies, open source models, etc.
      </li>
    </ul>
  </div>
</div>

<% @projects.each do |p| %>
<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell medium-6 medium-offset-3 centered-headers">

    <h2>
      <img class="<%= p.subdomain %>-med-logo" title="<%= p.fullname  %>">
      <%= p.fullname %>
    </h2>

    <div class="vhp-markdown"><%=p.description%></div>
    <p>
      VHP has data on
      <a href="/tags/project-<%=p.subdomain%>">
        <i class="vhp-icon-tag"></i> <%= @vuln_counts[p.subdomain] %>
        vulnerabilities
      </a>
      in <%= p.name %>.
      <p>

        <div class="vhp-markdown"><%=p.vulnerabilities_description%></div>

  </div>
</div>
<% end %>

