
  <div class="imageback">
    <img src="<%=image_path('header.png') %>" alt="page header" width="100%">
    <h4 class="animated fadeInDown">Browse our Case Studies</h4>
  </div>

  <div class="select-proj">
    <p>Select from one of the projects we are currently tracking vulnerability history for:</p>
    <% @projects.each do |project| %>
      <div style="padding:25px; display:inline;">
        <a href="/projects/<%= project.id %>" class="button info" style="margin-top: 20px;"><%= project.name %></a>
      </div>
    <% end %>
  </div>

  <div class="projs">
    <% @projects.each do |project| %>
      <div class="row" id="<%=project.subdomain%>-section">
        <div class="small-6 large-5 columns">
          <img src="<%=image_path(project.logo) %>" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="small-6 large-7 columns" style="padding-left: 6vh;">
          <p style="padding-top: 8%;"><%=project.description%><br><br>
          <a href="<%=project.url%>" target="_blank">Visit <%=project.name%>'s website.</a>
          </p>
        </div>
      </div>
      <div style="text-align: center;">
        <img src="<%=image_path('sep-line.png') %>" width="50%" height="30vh" >
      </div>
    <% end %>
  </div>
