<%= render('shared/grid', size: 8) do %>
  These are various vulnerability-related events for <%= @project.name %>. Click on each one to visit its detail page.
<% end %>

<%= render('shared/grid', size: 12) do %>
  <section id="horizontal-timeline"></section>
<% end %>

<div class="grid-x">
  <div class="cell small-10 small-offset-1">
    <div class="data-toggles horizontal-center" id="toggle-block"></div>
  </div>
  <!-- <div class="cell small-1 columns horizontal-center" id="zoom-div">
    <span id="zoom-button" class="button material-icons">
      zoom_in
    </span>
    <input type="hidden" id="zoom-bool" name="zoom-bool" value="false">
  </div> -->
</div>

<%= render('shared/grid', size: 6) do %>
  <div class="legend">
    <p id="legend-body">
      <em>Hover over an event or click on it to learn more</em>
    </p>
  </div>
<% end %>


<!-- VERTICAL TIMELINE -->
<section id="cd-timeline" class="cd-container">
<% @announcements.each do |e| %>
<% unless e.date.nil? %> <!-- If date is nil, we don't show the event -->
<div id="<%= e.type %>" data-id='<%= e.date %>' class="cd-timeline-block">
  <a id="<%= e.id %>"></a> <!-- Anchor to scroll to from -->
  <div class="cd-timeline-img" style="background: <%= e.style.color %>">
    <p id="timeline-icon" class="material-icons md-32 md-light"> <%= e.style.icon %> </p>
  </div>
  <div class="cd-timeline-content">
    <h2 id="title"><%= e.title %></h2>
    <p id="description"><%= markdown(e.description) %></p>
    <%= link_to('Learn more...', e.detail, class: 'see-more-link') %>
    <span class="cd-date" id="date">
        <div id="isodate" style="display:none"><%= e.date %></div>
        <%= pretty_date(e.date) %>
    </span>
  </div>
</div>
<% end # nil check %>
<% end # event loop %>
</section>

<section id="tooltips">
</section>

<a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

<%= javascript_include_tag "timeline/HorizontalTimeline" %>
<%= javascript_include_tag "timeline" %>
