<%= render 'shared/vuln_tooltip' %>

<%= render('shared/grid', size: 8) do %>
  <p>
    These are the known vulnerabilities in our database. Every
    vulnerability known to the VHP project is reported here,
    regardless of what the state of its curation is.
  </p>
  <p>
    Each vulnerability is given <strong>upvotes <i
    class="vhp-icon-upvote"></i></strong> by our curators. Upvotes are an
    entirely subjective measure of how interesting the story each
    curator finds the vulnerability. Everyone is encouraged to
    contribute upvotes to vulnerabilities!
  </p>
<% end %>

<%= render('shared/grid', size: 12) do %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<script type="text/javascript">
  var initVulnData = <%= Oj.dump(@vulnerabilities, mode: :rails).html_safe %>;
  var tagMap = <%= Oj.dump(@tagMap, mode: :rails).html_safe %>
</script>
