<%= render('shared/grid', size: 8) do %>
  <% @articleVulns.each do |article| %>
        <div id="blurb-1wide-template" class="vhp-articles blurb ">
          <div class="grid-x grid-margin-x grid-margin-y align-center">
            <div class="cell medium-8">
                <h3><a href="../articles/<%= article.id %>"><%= article.title %></a></h3>
                <p><%= article.blurb.html_safe %></p>
            </div>
            <div class="cell medium-3"><div class="vhp-art-<%= article.art %>" /></div>
          </div>
        </div>
    <% end %>
<% end %>
