<%= render('shared/grid', size: 8) do %>

<div class="vuln_cards">
  <%= render('shared/vuln_card', v: Vulnerability.find_by(cve:'CVE-2013-6665')) %>

  <%= render('shared/vuln_card', v: Vulnerability.find_by(cve:'CVE-2014-1748')) %>

  <%= render('shared/vuln_card', v: Vulnerability.find_by(cve:'CVE-2010-2301')) %>

  <%= render('shared/vuln_card', v: Vulnerability.find_by(cve:'CVE-2015-1296')) %>
</div>

<% end %>
