<p id="notice"><%= notice %></p>

<h1>Vulnerabilities</h1>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<div class="grid-x">
  <div class="cell large-8 large-offset-2">
    <p>
      These are the known vulnerabilities in <%= @project.name %>. Every vulnerability known to the VHP project is reported here, regardless of how what the state of its curation is.
    </p>
  </div>
</div>

<div class="grid-x">
  <div class="cell large-8 large-offset-2">
    <p>
      Each vulnerability is given <strong>upvotes</strong> by our curators.
      Upvotes are an entirely subjective measure of how interesting the story each curator finds the vulnerability.
      Everyone is encouraged to contribute upvotes to vulnerabilities!
    </p>
  </div>
</div>

<div class="grid-x">
  <div class="cell large-8 large-offset-2">
    <div class="float-left case-study-paragraph-logo">
      <%= image_tag @project.logo %>
    </div>
    <p>
      <%= markdown(@project.vulnerabilities_description) %>
    </p>
  </div>
</div>

<%= render 'shared/loading' =%>

<div id="tag-filter"></div>
<table id="datatable" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>

<%= javascript_include_tag "vulnerabilities/index" %>
