<p id="notice"><%= notice %></p>

<h1>Vulnerabilities </h1>

<table>
  <thead>
    <tr>
      <th colspan="3" ></th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to 'Show', vulnerability %></td>
        <td><%= link_to 'Edit', edit_vulnerability_path(vulnerability) %></td>
        <td><%= link_to 'Destroy', vulnerability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vulnerability', new_vulnerability_path %>
