<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Vulnerabilities
<% end %>

<%= render('shared/grid', size: 8) do %>
  <p>
    These are the known vulnerabilities in <%= @project.name %>. Every vulnerability known to the VHP project is reported here, regardless of what the state of its curation is.
  </p>
  <p>
    Each vulnerability is given <strong>upvotes <i class="fi-like"></i></strong> by our curators.
    Upvotes are an entirely subjective measure of how interesting the story each curator finds the vulnerability.
    Everyone is encouraged to contribute upvotes to vulnerabilities!
  </p>
<% end %>

<%= render('shared/grid', size: 8) do %>
  <div class="float-left case-study-paragraph-logo">
    <%= image_tag @project.logo %>
  </div>
  <%= markdown(@project.vulnerabilities_description) %>
<% end %>

<%= render('shared/grid', size: 12) do %>
  <%= render 'shared/loading' =%>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<%= javascript_include_tag "vulnerabilities/index" %>
