<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Vulnerabilities
<% end %>

<%= render('shared/grid', size: 8) do %>
  <p>
    These are the known vulnerabilities in our database. Every
    vulnerability known to the VHP project is reported here,
    regardless of what the state of its curation is.
  </p>
  <p>
    Each vulnerability is given <strong>upvotes <i
    class="vhp-icon-upvote"></i></strong> by our curators. Upvotes are an
    entirely subjective measure of how interesting the story each
    curator finds the vulnerability. Everyone is encouraged to
    contribute upvotes to vulnerabilities!
  </p>
<% end %>

<%= render('shared/grid', size: 8) do %>
<ul class="tabs"
    id="vulnerability-tabs"
    data-tabs
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500">
  <li class="tabs-title is-active">
    <a href="#table" aria-selected="true">
      <i class="vhp-icon-table"></i>
      Table
    </a>
  </li>
  <li class="tabs-title">
    <a href="#cards">
      <i class="vhp-icon-cards"></i>
      Cards
    </a>
  </li>
  <li class="tabs-title">
    <a href="#articles">
      <i class="vhp-icon-article"></i>
      Articles
    </a>
  </li>
</ul>
<% end %>


<div data-tabs-content="vulnerability-tabs">
  <div class="tabs-panel is-active" id="table">
    <%= render 'index_table' %>
  </div>
  <div class="tabs-panel" id="cards">
    <%= render 'index_cards' %>
  </div>
  <div class="tabs-panel" id="articles">
    <%= render 'index_articles' %>
  </div>
</div>

<%= javascript_pack_tag 'vulnerabilities_index' %>
