<p id="notice"><%= notice %></p>

<h1>Vulnerabilities</h1>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<div class="grid-x">
  <div class="cell large-6 large-offset-1">
    <p>
      <%= markdown(@project.vulnerabilities_description) %>
    </p>
  </div>
</div>

<%= render 'shared/loading' =%>

<div id="tag-filter"></div>
<table id="datatable" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>

<%= javascript_include_tag "vulnerabilities/index" %>
