<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<header>
  <section id="horizontal-timeline">

  </section>
</header>

<div class="row">
  <div class="small-11 small-centered columns">
    <h4 class="centered-title">Select Data Types</h4>
    <div class="data-toggles cd-container" id="toggle-block" onchange="generateTimeline()"></div>
  </div>
</div>

<section id="cd-timeline" class="cd-container">
  <% @events.each do |e| %>
      <div class="cd-timeline-block" id="<%= e.type %>">
        <a id="<%= e.id %>"></a>
        <div class="cd-timeline-img" style="background: red">
          <p class="material-icons md-32 md-light" id="timeline-icon">bug_report</p>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
          <h2 id="title"><%= e.title %></h2>
          <p id="description"><%= e.description %></p>
          <a href="#" class="cd-read-more">Read more</a>
          <span class="cd-date" id="date">
            <% if e.date != nil %>
              <%= e.date %>
            <% else %> <!-- if the time is not specified, use Time.current (this is a temporary fix) -->
              <%= Time.current %>
            <% end %>
          </span>
        </div>

      </div>
  <% end %>
</section>
<section id="tooltips">
</section>
<a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>