<meta charset="UTF-8">

<%= stylesheet_link_tag 'common/reset' %> <!-- CSS reset -->
<%= stylesheet_link_tag 'semantic-ui' %>
<%= stylesheet_link_tag params[:controller] %>

<p id="notice"><%= notice %></p>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->

</head>

<body>

<header>
  <section id="horizontal-timeline">

  </section>

</header>

<div class="ui container small">
  <div class="ui sub header">Select Data Types</div>
  <select multiple="" id="data_types" class="ui fluid normal dropdown" onchange="generateSVG()">
    <option value="">Types</option>
    <option value="v">Vulnerabilities</option>
    <option value="p">Patches</option>
    <option value="b">Bugs</option>
  </select>
</div>

<section id="cd-timeline" class="cd-container">

  <div style="display:none" id="hiddenArea">

    <div class="cd-timeline-img cd-default">
      <img src='<%= image_path('timeline/cd-icon-default.svg') %>' alt="Shield image">
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
      <h2><a name="$NAME$">$TITLE$</a></h2>
      <p>$DESCRIPTION$</p>
      <a href="#" class="cd-read-more">Read more</a>
      <span class="cd-date">$TIMESTAMP$</span>
    </div>

  </div>

</section>

<script type="text/javascript">
  generateSVG();
  generateVerticalTimeline();

  $('.ui.normal.dropdown')
      .dropdown('set selected', ['v', 'p', 'b']);

</script>

</body>