<p id="notice"><%= notice %></p>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="grid-x">
  <div class="cell small-centered columns">
    <h1 class="centered-title"><%= @vulnerability.title %></h1>
  </div>
</div>


<div class="grid-x">
  <div class="cell">
    <section id="horizontal-timeline"></section>
  </div>
</div>

<div class="grid-x">
  <div class="cell small-10 small-offset-1">
    <div class="data-toggles horizontal-center" id="toggle-block"></div>
  </div>
  <div class="cell small-1 columns horizontal-center" id="zoom-div">
    <span id="zoom-button" class="button material-icons">
      zoom_in
    </span>
    <input type="hidden" id="zoom-bool" name="zoom-bool" value="false">
  </div>
</div>

<div class="grid-x">
  <div class="cell small-12 columns horizontal-center">
    <div id="legend" class="callout secondary">
        <p id="legend-body"></p>
    </div>
  </div>
</div>

<div class="cd-container row callout">
  <%= markdown(@vulnerability.description) %>
  <div class="tag_list">
    <ul>
      <% @vulnerability.tags_by_name.each do |t| %>
        <li>
          <%= link_to(t) do %>
            <i class="fi-pricetag-multiple"
               style="color: <%=t.color %>"></i>
            <span><%= t.name%></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <ul class="accordian vertical menu more_accordian" data-accordion-menu>
     <li>
       <a href="#"><i class="fi-plus"></i> More...</a>

       <ul class="menu vertical nested">
       <% @vulnerability.tags_by_name.each do |t| %>
         <li>
           <i class="fi-pricetag-multiple" style="color: <%=t.color %>"></i>
           <span class="tag_title"><%= t.name%></span>.
           <%= t.note %>
           <%= link_to(t) do %>
              Learn more about
              <i class="fi-pricetag-multiple" style="color: <%=t.color %>"></i>
              <%=t.name %>.
           <% end %>
         </li>
       <% end %>
         <li>
           <a href="#">
             <i class="fi-wrench"></i>
             <span class="tag_title">Files patched</span>
           </a>
           <ul class="menu vertical nested">
           <% @vulnerable_files.each do |vf| %>
             <li>
               <%= link_to vf do %>
                 <i class="fi-wrench"></i> <%= vf.filepath %>
               <% end %>
             </li>
           <% end %>
           </ul>
         </li>
         <li>
           <a href="#">
              <i class="fi-lock"></i>
              <span class="tag_title">Fix Commits</span>
            </a>
           <ul class="menu vertical nested">
           <% @vulnerability.fixes.each do |fix| %>
             <li>
               <%= link_to fix.commit do %>
                 <i class="fi-lock"></i> <%= fix.commit.title %>
               <% end %>
             </li>
           <% end %>
           </ul>
         </li>
         <li>
           <a href="#">
             <i class="fi-x-circle"></i>
             <span class="tag_title">Vulnerability Contributing Commits (VCCs)</span>
          </a>
           <ul class="menu vertical nested">
             <% @vulnerability.vccs.each do |vcc| %>
               <li>
                 <%= link_to vcc.commit do %>
                    <i class="fi-x-circle"></i>
                    <%= vcc.commit.title %>
                 <% end %>
               </li>
             <% end %>
           </ul>
         </li>
         <li>
           <a href="#">
             <i class="fi-puzzle"></i>
             <span class="tag_title">Mistakes Made</span>
          </a>
           <ul class="menu vertical nested">
             <li><em>The curator was asked to give their opinion on the mistakes made. Below is their answer.</em></li>
             <li><%=markdown(@vulnerability.notes['mistakes']['answer'])%></li>
           </ul>
         </li>
         <li>
           <a href="#">
             <i class="fi-book-bookmark"></i>
             <span class="tag_title">Raw Curator Notes</span>
           </a>
           <ul class="menu vertical nested">
              <li>(Currently disabled)
                <!-- Removed by Andy because of FOUC problems. Make this ajaxy -->
                <!-- <%= pretty_code(@vulnerability.notes).html_safe %> -->
              </li>
           </ul>
         </li>
       </ul>
     </li>
   </ul>
</div>

<!-- VERTICAL TIMELINE -->
<section id="cd-timeline" class="cd-container">
<% @events.each do |e| %>
<% unless e.date.nil? %> <!-- If date is nil, we don't show the event -->
<div id="<%= e.type %>" data-id='<%= e.date %>' class="cd-timeline-block">
  <a id="<%= e.id %>"></a> <!-- Anchor to scroll to from -->
  <div class="cd-timeline-img" style="background: <%= e.style.color %>">
    <p id="timeline-icon" class="material-icons md-32 md-light"> <%= e.style.icon %> </p>
  </div>
  <div class="cd-timeline-content">
    <h2 id="title"><%= e.title %></h2>
    <p id="description"><%= markdown(e.description) %></p>
    <%= unless e.detail_type == 'Vulnerability'
          link_to('Learn more...', e.detail, class: 'see-more-link')
        end %>
    <span class="cd-date" id="date">
        <div id="isodate" style="display:none"><%= e.date %></div>
        <%= pretty_date(e.date) %>
    </span>
  </div>
</div>
<% end # nil check %>
<% end # event loop %>
</section>

<section id="tooltips">
</section>

<a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

<%= javascript_include_tag "timeline/Event1" %>
<%= javascript_include_tag "timeline/Filter" %>
<%= javascript_include_tag "timeline/HorizontalTimeline" %>
<%= javascript_include_tag "timeline/timeline" %>
