<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<header>
  <section id="horizontal-timeline">

  </section>

</header>
<div class="row small-3 column-center columns"><h4>Select Data Types</h4></div>

<div class="row data-toggles" id="toggle-block" onchange="generateTimeline()">
</div>

<section id="data" style="display:none">

  <% @events.each do |e| %>
      <div class="event">
        <div id="id">
          <%= e.id %>
        </div>
        <div id="title">
          <%= e.title %>
        </div>
        <div id="description">
          <%= e.description %>
        </div>
        <div id="date">
          <%= e.date %>
        </div>
        <div id="type">
          <%= e.type %>
        </div>
      </div>
  <% end %>

</section>
<section id="cd-timeline" class="cd-container">

  <div style="display:none" id="hiddenBlock">
    <a name="$NAME$"></a>
    <div class="cd-timeline-img" style="background: red">
      <p class="material-icons md-32 md-light">bug_report</p>
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
      <h2>$TITLE$</h2>
      <p>$DESCRIPTION$</p>
      <a href="#" class="cd-read-more">Read more</a>
      <span class="cd-date">$TIMESTAMP$</span>
    </div>

  </div>

</section>
<script>onload = initializeTimeline()</script>
</body>
