<p id="notice"><%= notice %></p>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      type="text/css"
      rel="stylesheet"/>

<%= render('shared/title') do
  @vulnerability.title
end %>

<%= render('shared/grid', size: 12) do %>
  <div id="htimeline-loading"><%=image_tag("loading.gif")%></div>
  <div id="horizontal-timeline"></div>
<% end %>

<div class="grid-x">
  <div class="cell small-5 small-offset-1 legend">
    <p id="legend-body">
      <span class="helptext">
        Hover over an event to see its title.<br>
        Click on the event to learn more.<br>
        Filter by event type with the above buttons.
      </span>
    </p>
  </div>
  <div class="cell small-5">
    <div id="toggle-block" class="horizontal-center" ></div>
  </div>
  <div class="cell small-1 columns horizontal-center" id="zoom-div">
    <span id="zoom-button" class="button material-icons"
          title="Zoom to entire timeline or to the orign-to-fix range">
      zoom_out
    </span>
    <input type="hidden" id="zoom-bool" name="zoom-bool" value="true">
  </div>
</div>

<%= render('shared/grid', size: 6) do %>

<% end %>

<%= render('shared/grid', size: 10, css: 'description_box') do %>
  <div class="upvote_box">
    <a href="#" data-tooltip tabindex="1" title="Like this vulnerability? Give it an upvote!" data-open="exampleModal1"><i class="fi-like big-icon"></i> <br /><%= @vulnerability.upvotes %><br />Upvotes</a>
  </div>
<div class="reveal" id="exampleModal1" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="grid-x grid-margin-x">
    <div class="cell">
      <h2 id="modalTitle">How do I give an Upvote?</h2>
      <p class="lead">What is an Upvote?</p>
      <p>Upvotes are simply here to allow people, like you, who find vulnerabilities interesting to express that! If you find
      this vulnerability interesting, use one of the methods below to add your vote. Each person may give up to five upvotes per month. Regular contributors get more upvotes.</p>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell medium-6 small-8">
      <p class="lead">Vote for this on GitHub.</p>
      <p>Want to contribute to Open Source? Edit directly on github and create a pull request.
      <a href="https://github.com/VulnerabilityHistoryProject/chromium-vulnerabilities/edit/dev/cves/<%= @vulnerability.cve %>.yml#l80" target="_blank">Click here to contribute.</a></p>
    </div>
    <div class="cell medium-6 auto">
      <p class="lead">Send an Email.</p>
      <p>
      Feel free to email us your upvotes at <a href="mailto:upvotes@vulnerabilityhistory.org?subject=+1%20upvotes%20for%20<%= @vulnerability.cve %>&body=Please%20add%20+1%20to%20vulnerability%20<%= @vulnerability.cve %>.">upvotes@vulnerabilityhistory.org</a>.
      </p>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
</div>
  <%= markdown(@vulnerability.description) %>
  <ul class="tag_list">
    <% @vulnerability.tags_by_name.each do |t| %>
      <li>
        <%= link_to(t) do %>
          <i class="fi-pricetag-multiple"
             style="color: <%=t.color %>"></i>
          <span><%= t.name%></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul class="tabs"
      id="vulnerability-tabs"
      data-tabs
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500">
    <li class="tabs-title is-active">
      <a href="#mistakes" aria-selected="true">
        <i class="fi-puzzle"></i>
        Mistakes Made
      </a>
    </li>
    <li class="tabs-title">
      <a href="#tags">
        <i class="fi-pricetag-multiple"></i>
        Tag Notes
      </a>
    </li>
    <li class="tabs-title">
      <a href="#fix">
        <i class="fi-lock"></i>
        Fix
      </a>
    </li>
    <li class="tabs-title">
      <a href="#vcc">
        <i class="fi-x-circle"></i>
        VCC
      </a>
    </li>
    <li class="tabs-title">
      <a href="#notes">
        <i class="fi-clipboard-notes"></i>
        Curator Notes
      </a>
    </li>
    <li class="tabs-title">
      <a href="#curate">
        <i class="fi-social-github"></i>
        Curate
      </a>
    </li>
  </ul>

  <div class="tab-content" data-tabs-content="vulnerability-tabs">

    <div class="tabs-panel is-active" id="mistakes">
      <%= markdown(@vulnerability.notes['mistakes']['answer']) %>
    </div>

    <div class="tabs-panel" id="tags">
      <ul class="tag-cards">
      <% @vulnerability.tags_by_name.each do |t| %>
        <li>
          <i class="fi-pricetag-multiple" style="color: <%=t.color %>"></i>
          <span class="tag-title"><%= t.name%></span>
          <%= t.note %>
          <%= link_to(t) do %>
             Learn more about
             <%=t.name %>.
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="fix">
      <ul class="full-wide-cards">
        <li class="full-wide-subtitles"><i class="fi-lock"></i> Commits</li>
      <% @vulnerability.fixes.each do |fix| %>
        <li>
          <%= link_to fix.commit do %>
            <i class="fi-lock"></i> <%= fix.commit.title %>
          <% end %>
        </li>
      <% end %>
      <li class="full-wide-subtitles"><i class="fi-wrench"></i> Files Patched</li>
      <% @vulnerable_files.each do |vf| %>
        <li>
          <%= link_to vf do %>
            <i class="fi-wrench"></i> <%= vf.filepath %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="vcc">
      <ul class="full-wide-cards">
        <li class="full-wide-subtitles">
          <i class="fi-x-circle"></i> Vulnerability-Contributing Commit
        </li>
        <% @vulnerability.vccs.each do |vcc| %>
        <li>
          <%= link_to vcc.commit do %>
             <i class="fi-x-circle"></i>
             <%= vcc.commit.title %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="notes">
      <div class="curator-notes">
        <%= pretty_code(@vulnerability.notes).html_safe %>
      </div>
    </div>

    <div class="tabs-panel" id="curate">
      <p>See a mistake? Is something missing from our story? We welcome contributions! All of our work is open-source and version-controlled on GitHub.</p>
      <p class="text-center">
        <a class="curate-on-github"
         href="https://github.com/VulnerabilityHistoryProject/chromium-vulnerabilities/edit/dev/cves/<%= @vulnerability.cve %>.yml#l80"
         target="_blank">
         <i class="fi-social-github"></i> Edit <%= @vulnerability.cve %> on GitHub</a>
      </p>
      <p>From there, you can create a pull request and we will review your changes. For more information on our curation process, see <a href="/curate">our curate page</a>.</p>
    </div>
  </div>
<% end %>


<div id="vtimeline_loading" class="loading">
  <%=image_tag("loading.gif")%>
</div>

<!-- VERTICAL TIMELINE -->
<section id="vtimeline">

<!--
Template for Vertical timeline. Actual values are populated in
This DOM element is duplicated, populated, and then shown.
-->

<div id="vtimeline-template"
     data-id=''
     class="vtimeline-block">
  <a id="" class="vtimeline-anchor"></a> <!-- Anchor to scroll to from -->
  <div class="vtimeline-img" style=""> <!-- style_color -->
    <p id="timeline-icon" class="material-icons md-32 md-light">
      <!-- style_icon -->
    </p>
  </div>
  <div class="vtimeline-content">
    <h2 id="title"><!-- title --></h2>
    <p id="description"><!-- description --></p>
    <p id="learn_more"><!-- detail_url --></p>
    <span class="vtimeline-date">
        <div id="isodate" style="display:none"><!--date--></div>
        <p id="pretty_date"><!--date--></p>
    </span>
  </div>
</div>

</section>

<section id="tooltips">
</section>

<a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

<script>
  var vulnerability_id = <%= @vulnerability.id %>
</script>

<%= javascript_include_tag "timeline" %>
<%= javascript_include_tag "timeline/HorizontalTimeline" %>
<%= javascript_include_tag "vulnerabilities/show" %>
