<p id="notice"><%= notice %></p>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      type="text/css"
      rel="stylesheet"/>

<%= render('shared/title') do
  @vulnerability.cve

end %>

<%= render('shared/grid', size: 12) do %>
  <div id="htimeline-loading"><%=image_tag("loading.gif")%></div>
  <div id="horizontal-timeline"></div>
<% end %>

<div class="grid-x">
  <div class="cell small-5 legend">
    <p id="legend-body">
      <span class="helptext">
        Hover over an event to see its title.<br>
        Click on the event to learn more.<br>
        Filter by event type with the above buttons.
      </span>
    </p>
  </div>
  <div class="cell small-5">
    <div id="toggle-block" class="horizontal-center" ></div>
  </div>
  <div class="cell small-2">
    <div id="reset-block">
      <i id="reset-icon" class="vhp-icon-reset hidden"></i>
      <button id="reset-button" class="hidden">Reset</button>
    </div>
    <div id="zoom-block">
      <i id="zoom-icon" class="vhp-icon-zoom"></i>
      <select id="zoom-dropdown"></select>
    </div>
  </div>
</div>

<%= render('shared/grid', size: 6) do %>

<% end %>

<%= render('shared/grid', size: 10, css: 'description_box') do %>
  <div class="upvote_box">
    <a href="#" data-tooltip tabindex="1" title="Like this vulnerability? Give it an upvote!" data-open="exampleModal1"><i class="fi-like big-icon"></i> <br /><%= @vulnerability.upvotes %><br />Upvotes</a>
  </div>
<div class="reveal" id="exampleModal1" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

  <div class="grid-x grid-margin-x">
   <button class="close-button" aria-label="Close alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
    <div class="cell">
      <h2 id="modalTitle">How do I give an Upvote?</h2>
      <p class="lead">What is an Upvote?</p>
      <p>Upvotes are simply here to allow people, like you, who find vulnerabilities interesting to express that! If you find
      this vulnerability interesting, use one of the methods below to add your vote. Each person may give up to five upvotes per month. Regular contributors get more upvotes.</p>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell medium-6 small-8">
      <p class="lead">Vote for this on GitHub.</p>
      <p>Want to contribute to Open Source? Edit directly on github and create a pull request.
      <a href="https://github.com/VulnerabilityHistoryProject/chromium-vulnerabilities/edit/dev/cves/<%= @vulnerability.cve %>.yml#l80" target="_blank">Click here to contribute.</a></p>
    </div>
    <div class="cell medium-6 auto">
      <p class="lead">Send an Email.</p>
      <p>
      Feel free to email us your upvotes at <a href="mailto:upvotes@vulnerabilityhistory.org?subject=+1%20upvotes%20for%20<%= @vulnerability.cve %>&body=Please%20add%20+1%20to%20vulnerability%20<%= @vulnerability.cve %>.">upvotes@vulnerabilityhistory.org</a>.
      </p>
    </div>
  </div>
</div>
  <%= markdown(@vulnerability.description) %>
  <ul class="tag_list">
    <% @vulnerability.tags_by_name.each do |t| %>
      <li>
        <%= link_to(t) do %>
          <i class="fi-pricetag-multiple"
             style="color: <%=t.color %>"></i>
          <span><%= t.name%></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul class="tabs"
      id="vulnerability-tabs"
      data-tabs
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500">
    <li class="tabs-title is-active">
      <a href="#mistakes" aria-selected="true">
        <i class="fi-puzzle"></i>
        Mistakes Made
      </a>
    </li>
    <li class="tabs-title">
      <a href="#tags">
        <i class="vhp-icon-tags"></i>
        Tag Notes
      </a>
    </li>
    <li class="tabs-title">
      <a href="#fix">
        <i class="vhp-icon-fix"></i>
        Fix
      </a>
    </li>
    <li class="tabs-title">
      <a href="#vcc">
        <i class="vhp-icon-vcc"></i>
        VCC
      </a>
    </li>
    <li class="tabs-title">
      <a href="#notes">
        <i class="vhp-icon-notes"></i>
        Curator Notes
      </a>
    </li>
    <li class="tabs-title">
      <a href="#curate">
        <i class="vhp-icon-github"></i>
        Curate
      </a>
    </li>
    <li class="tabs-title">
      <a href="#articles">
        <i class="vhp-icon-article"></i>
        Articles
      </a>
    </li>
  </ul>

  <div class="tab-content" data-tabs-content="vulnerability-tabs">

    <div class="tabs-panel is-active" id="mistakes">
      <%= markdown(@vulnerability.notes['mistakes']['answer']) %>
    </div>

    <div class="tabs-panel" id="tags">
      <ul class="tag-cards">
      <% @vulnerability.tags_by_name.each do |t| %>
        <li>
          <i class="vhp-icon-tags" style="color: <%=t.color %>"></i>
          <span class="tag-title"><%= t.name%></span>
          <%= t.note %>
          <%= link_to(t) do %>
             Learn more about
             <%=t.name %>.
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="fix">
      <div class="full-wide-cards">
        <li class="full-wide-subtitles"><i class="fi-lock"></i> Commits</li>
      <% @vulnerability.fixes.each do |fix| %>
        <li>
          <%= link_to fix.commit do %>
            <i class="vhp-icon-fix"></i> <%= fix.commit.title %>
          <% end %>
        </li>
      <% end %>
      </div>
      <div class="full-wide-cards">
      <li class="full-wide-subtitles"><i class="fi-wrench"></i> Files Patched</li>
      <% @vulnerable_files.each do |vf| %>
        <li>
          <%= link_to vf do %>
             <i class="vhp-icon-fix-file"></i> <%= vf.filepath %>
          <% end %>
        </li>
      <% end %>
      </div>
    </div>

    <div class="tabs-panel" id="vcc">
      <ul class="full-wide-cards">
        <li class="full-wide-subtitles">
          <i class="fi-icon-vcc"></i> Vulnerability-Contributing Commit
        </li>
        <% @vulnerability.vccs.each do |vcc| %>
        <li>
          <%= link_to vcc.commit do %>
             <i class="vhp-icon-vcc"></i>
             <%= vcc.commit.title %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="notes">
      <div class="curator-notes">
        <%= pretty_code(@vulnerability.notes).html_safe %>
      </div>
    </div>

    <div class="tabs-panel" id="curate">
      <p>See a mistake? Is something missing from our story? We welcome contributions! All of our work is open-source and version-controlled on GitHub.</p>
      <p class="text-center">
        <a class="curate-on-github"
         href="https://github.com/VulnerabilityHistoryProject/chromium-vulnerabilities/edit/dev/cves/<%= @vulnerability.cve %>.yml#l80"
         target="_blank">
         <i class="vhp-icon-github"></i> Edit <%= @vulnerability.cve %> on GitHub</a>
      </p>
      <p>From there, you can create a pull request and we will review your changes. For more information on our curation process, see <a href="/curate">our curate page</a>.</p>
    </div>

    <div class="tabs-panel" id="articles">
      <% if @vulnerability.articles.count != 0 %>
        <% @vulnerability.articles.each do |article| %>
          <div id="blurb-1wide-template" class="vhp-articles blurb ">
            <div class="grid-x grid-margin-x grid-margin-y align-center">
            <div class="cell medium-3"><div class="vhp-art-<%= article.art %>"></div></div>
              <div class="cell medium-8">
                  <h3><a href="../articles/<%= article.id %>"><%= article.title.html_safe %></a></h3>
                  <p><%= article.blurb.html_safe %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <ul class="full-wide-cards">
            <li class="full-wide-subtitles">
              <h4>There are no articles here... yet</h4>
            </li>
          </ul>
        <% end %>
    </div>
  </div>
<% end %>


<div id="vtimeline_loading" class="loading">
  <%=image_tag("loading.gif")%>
</div>

<!-- VERTICAL TIMELINE -->
<section id="vtimeline">

<!--
Template for Vertical timeline. Actual values are populated in
This DOM element is duplicated, populated, and then shown.
-->

<div id="vtimeline-template"
     data-id=''
     class="vtimeline-block">
  <a id="" class="vtimeline-anchor"></a> <!-- Anchor to scroll to from -->
  <div class="vtimeline-img" style=""> <!-- style_color -->
    <p id="timeline-icon" class="material-icons md-32 md-light">
      <!-- style_icon -->
    </p>
  </div>
  <div class="vtimeline-content">
    <h2 id="title"><!-- title --></h2>
    <p id="description"><!-- description --></p>
    <a class="see_more">See More</a>
    <a class="see_less" hidden>See Less</a>
    <span class="vtimeline-date">
        <div id="isodate" style="display:none"><!--date--></div>
        <p id="pretty_date"><!--date--></p>
    </span>
  </div>
</div>

</section>

<section id="tooltips">
</section>

<script>
  var vulnerability_id = <%= @vulnerability.id %>;
  var project_id = <%= @vulnerability.project_id %>;
</script>

<%= javascript_include_tag "timeline/timelines" %>
<%= javascript_include_tag "vulnerabilities/show" %>
