<meta charset="UTF-8">


<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag 'foundation-select' %>
  <%= javascript_include_tag 'foundation-select.js' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->

</head>

<body>

<header>
  <section id="horizontal-timeline">

  </section>

</header>

<div class="row">
  <div class="small-3 small-centered columns">
    <h4>Select Data Types</h4>
    <select multiple id="data_types" onchange="generateTimeline()">
      <option value="v">Vulnerabilities</option>
      <option value="p">Patches</option>
      <option value="b">Bugs</option>
    </select>

  </div>
</div>

<section id="cd-timeline" class="cd-container">

  <div style="display:none" id="hiddenArea">

    <div class="cd-timeline-img cd-default">
      <img src='<%= image_path('timeline/cd-icon-default.svg') %>' alt="Shield image">
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
      <h2><a name="$NAME$">$TITLE$</a></h2>
      <p>$DESCRIPTION$</p>
      <a href="#" class="cd-read-more">Read more</a>
      <span class="cd-date">$TIMESTAMP$</span>
    </div>

  </div>

  <div id="dataset" style="display:none">
    <% @vulnerability_data.each do |fix| %>
        <div id="object">
          <div id="name">
            <%= fix.commit_hash %>
          </div>
          <div id="commit">
            <%= fix.message %>
          </div>
          <div id="updated_at">
            <%= fix.date_created %>
          </div>
        </div>
    <% end %>
  </div>

</section>
<script type="text/javascript">
  generateTimeline();
  $('#data_types').foundationSelect();
</script>
</body>
