<% content_for(:title) { @page_title } %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('show') %>
<% end %>

<% content_for(:container_css) { "vulnerability-show fluid no-padding " }%>

<div id="notice"><%= notice %></div>

<div class="top-section grid-y">
  <%= render('shared/title') do %>
    <img class="<%= Project.find(@vulnerability.project_id).subdomain %>-large-logo" title="<%= Project.find(@vulnerability.project_id).name %>" />
    <%= @vulnerability.cve %>
    <% unless @vulnerability.nickname.blank? %>
      <div class="page-subtitle">aka <%= @vulnerability.nickname %></div>
    <% end %>
  <% end %>

  <div class="upvote_box">
    <a href="#" data-tooltip tabindex="1" title="Like this vulnerability? Give it an upvote!" data-open="exampleModal1"><i class="vhp-icon-upvote big-icon"></i><%= @vulnerability.upvotes %> Upvotes</a>
  </div>

  <%= render('shared/grid', size: 8, css: 'description_box') do %>
    <div class="reveal" id="exampleModal1" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

      <div class="grid-x grid-margin-x">
        <button class="close-button" aria-label="Close alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="cell">
          <h2 id="modalTitle">How do I give an Upvote?</h2>
          <p class="lead">What is an Upvote?</p>
          <p>Upvotes are simply here to allow people, like you, who find vulnerabilities interesting to express that! If you find
          this vulnerability interesting, use one of the methods below to add your vote. Each person may give up to five upvotes per month. Regular contributors get more upvotes.</p>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell medium-6 small-8">
          <p class="lead">Vote for this on GitHub.</p>
          <p>Want to contribute to Open Source? Edit directly on github and create a pull request.
          <a href="<%= @github_edit_url %>" target="_blank">Click here to contribute.</a></p>
        </div>
        <div class="cell medium-6 auto">
          <p class="lead">Send an Email.</p>
          <p>
          Coming soon! Email us your upvotes at <a href="mailto:upvotes@vulnerabilityhistory.org?subject=+1%20upvotes%20for%20<%= @vulnerability.cve %>&body=Please%20add%20+1%20to%20vulnerability%20<%= @vulnerability.cve %>.">upvotes@vulnerabilityhistory.org</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="vhp-markdown">
      <%= @vulnerability.description %>
    </div>

    <hr style="width:100%;">

    <ul class="tag_list">
      <% @vulnerability.tags_by_name.each do |t| %>
        <li class="vhp-pill" style="background-color: rgba(<%= t.color.match(/^#(..)(..)(..)$/).captures.map(&:hex).join(", ") %>, 0.2); border-color: <%=t.color %>">
          <%= link_to("/tags/#{t.shortname}") do %>
            <i class="vhp-icon-<%=t.icon%>"
              style="color: <%=t.color %>"></i>
            <span><%= t.name%></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <hr style="width:100%;">

    <ul class="tabs"
        style="display:flex"
        id="vulnerability-tabs"
        data-tabs
        data-deep-link="true"
        data-update-history="true"
        data-deep-link-smudge="true"
        data-deep-link-smudge-delay="500">
      <li class="tabs-title is-active">
        <a href="#mistakes" aria-selected="true">
          <i class="vhp-icon-mistake"></i>
          Mistakes Made
        </a>
      </li>
      <li class="tabs-title">
        <a href="#tags">
          <i class="vhp-icon-tags"></i>
          Tag Notes
        </a>
      </li>
      <li class="tabs-title">
        <a href="#fix">
          <i class="vhp-icon-fix"></i>
          Fix
        </a>
      </li>
      <li class="tabs-title">
        <a href="#vcc">
          <i class="vhp-icon-vcc"></i>
          VCC
        </a>
      </li>
      <li class="tabs-title">
        <a href="#notes">
          <i class="vhp-icon-notes"></i>
          Curator Notes
        </a>
      </li>
      <li class="tabs-title">
        <a href="#curate">
          <i class="vhp-icon-github"></i>
          Curate
        </a>
      </li>
      <% if @vulnerability.articles.any? %>
        <li class="tabs-title">
          <a href="#articles">
            <i class="vhp-icon-article"></i>
            Articles
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content" data-tabs-content="vulnerability-tabs">
      <div class="tabs-panel is-active vhp-markdown" id="mistakes">
        <%= @vulnerability.notes['mistakes']['answer'] %>
      </div>

      <div class="tabs-panel" id="tags">
        <ul class="tag-cards">
        <% @vulnerability.tags_by_name.each do |t| %>
          <li>
            <i class="vhp-icon-<%= t.icon %>" style="color: <%=t.color %>"></i>
            <span class="tag-title"><%= t.name%></span>
            <%= t.note %>
            <%= link_to("/tags/#{t.shortname}") do %>
              Learn more about
              <%=t.name %>.
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>

      <div class="tabs-panel" id="fix">
        <div class="full-wide-cards">
          <li class="full-wide-subtitles"><i class="fi-lock"></i> Commits</li>
        <% @vulnerability.fixes.each do |fix| %>
          <li>
            <%= link_to("/commits/#{fix.commit.commit_hash}") do %>
              <i class="vhp-icon-fix"></i> <%= fix.commit.title %>
            <% end %>
          </li>
        <% end %>
        </div>
        <div class="full-wide-cards">
        <li class="full-wide-subtitles"><i class="fi-wrench"></i> Files Patched</li>
        <% @vulnerable_files.each do |vf| %>
          <li>
            <%= link_to("/filepaths/#{vf.slug}") do %>
              <i class="vhp-icon-fix-file"></i> <%= vf.filepath %>
            <% end %>
          </li>
        <% end %>
        </div>
      </div>

      <div class="tabs-panel" id="vcc">
        <ul class="full-wide-cards">
          <li class="full-wide-subtitles">
            <i class="fi-icon-vcc"></i> Vulnerability-Contributing Commit
          </li>
          <% @vulnerability.vccs.each do |vcc| %>
          <li>
            <%= link_to("/commits/#{vcc.commit.commit_hash}") do %>
              <i class="vhp-icon-vcc"></i>
              <%= vcc.commit.title %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="tabs-panel" id="notes">
        <div class="curator-notes">
          <%= pretty_code(@vulnerability.notes).html_safe %>
        </div>
      </div>

      <div class="tabs-panel" id="curate">
        <p>See a mistake? Is something missing from our story? We welcome contributions! All of our work is open-source and version-controlled on GitHub. You can curate using our Curation Wizard.</p>
        <p class="text-center">
          <a class="curation-wizard-link" href="/curate">Use our Curation Wizard</a>
        </p>
        <p class="text-center">
          <a href="<%= @github_edit_url %>" target="_blank">
            Or go to GitHub
          </a>
        </p>
      </div>

      <div class="tabs-panel" id="articles">
        <% if @vulnerability.articles.count != 0 %>
          <% @vulnerability.articles.each do |article| %>
            <div id="blurb-1wide-template" class="vhp-articles blurb ">
              <div class="grid-x grid-margin-x grid-margin-y align-center">
              <div class="cell medium-3"><div class="vhp-art-<%= article.art %>"></div></div>
                <div class="cell medium-8">
                    <h3><a href="../articles/<%= article.id %>"><%= article.title.html_safe %></a></h3>
                    <p><%= article.blurb.html_safe %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% else %>
            <ul class="full-wide-cards">
              <li class="full-wide-subtitles">
                <h4>There are no articles here... yet</h4>
              </li>
            </ul>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="horizontal-timeline">
  <div class="horizontal-timeline-container grid-container">

    <div class="grid-y align-items-center">
      <h2 class="text-center ">Timeline</h2>
      <div class="cell legend">
        <p id="legend-body">
          <span class="helptext">
            <b>Hover</b> over an event to see its title.<br>
            <b>Click</b> on the event to learn more.<br>
            <b>Filter</b> by event type with the above buttons.
          </span>
        </p>
      </div>
    </div>

    <div class="grid-y">
      <%= render('shared/grid', size: 12) do %>
        <div id="htimeline-loading"><%=image_tag("loading.gif")%></div>
        <div id="htimeline-loading-failed" class='loading' hidden>
          <%=image_tag("load-fail.svg")%>
          <div class="alert-error" id="load-alert" style="display:block">We're sorry, we had trouble loading the data...</div>
        </div>
        <div id="horizontal-timeline"></div>
      <% end %>
      <div class="grid-x align-items-baseline align-center gap-1 wrap-reverse">
        <div class="cell width-auto max-width-100">
          <div id="toggle-block" class="horizontal-center" ></div>
        </div>
        <div class="cell width-auto">
          <select id="zoom-dropdown"></select>
          <button id="reset-button" class="hidden"><i id="reset-icon" class="vhp-icon-reset hidden"></i> Reset</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="vertical-timeline grid-container">
  <div id="vtimeline-sort">
    <select class="vtimeline-sort-select">
      <option value="1">Newest to Oldest</option>
      <option value="2">Oldest to Newest</option>
    </select>
  </div>
  <div id="vtimeline_loading" class="loading"><%=image_tag("loading.gif")%></div>
  <div id="vtimeline-loading-failed" class="loading" hidden><%=image_tag("load-fail.svg")%></div>

  <!-- VERTICAL TIMELINE -->
  <section id="vtimeline">

    <!--
    Template for Vertical timeline. Actual values are populated in
    This DOM element is duplicated, populated, and then shown.
    -->

    <div id="vtimeline-template"
        data-id=''
        class="vtimeline-block">
      <a id="" class="vtimeline-anchor"></a> <!-- Anchor to scroll to from -->
      <div class="vtimeline-img" style=""> <!-- style_color -->
        <p class="timeline-icon material-icons md-32 md-dark">
          <!-- style_icon -->
        </p>
      </div>
      <div class="vtimeline-content">
        <span class="vtimeline-date">
          <div class="isodate" style="display:none"><!--date--></div>
          <div class="pretty_date"><!--date--></div>
        </span>
        <h3 class="title"><!-- title --></h3>
        <p class="description"><!-- description --></p>
        <a class="see_more">See More</a>
        <a class="see_less" hidden>See Less</a>
      </div>
    </div>

  </section>

</div>

<section id="tooltips">
</section>

<script>
  var vulnerability_id = <%= @vulnerability.id %>;
  var cve = "<%= @vulnerability.cve %>";
  var project_id = <%= @vulnerability.project_id %>;
  var project_slug = "<%= @vulnerability.project.subdomain %>";
</script>


