<p id="notice"><%= notice %></p>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      type="text/css"
      rel="stylesheet"/>

<%= render('shared/title') do
  @vulnerability.title
end %>

<%= render('shared/grid', size: 12) do %>
  <%= render('shared/loading') %>
  <!-- Disabled for now while we ajaxify the vertical timeline -->
  <!-- <section id="horizontal-timeline"></section> -->
<% end %>

<div class="grid-x">
  <div class="cell small-10 small-offset-1">
    <div class="data-toggles horizontal-center" id="toggle-block"></div>
  </div>
  <div class="cell small-1 columns horizontal-center" id="zoom-div">
    <span id="zoom-button" class="button material-icons">
      zoom_in
    </span>
    <input type="hidden" id="zoom-bool" name="zoom-bool" value="false">
  </div>
</div>

<%= render('shared/grid', size: 6) do %>
  <div class="legend">
    <p id="legend-body">
      <span class="helptext">
        Hover over an event to see its title.<br>
        Click on the event to learn more.<br>
        Filter by event type with the above buttons.
      </span>
    </p>
  </div>
<% end %>

<%= render('shared/grid', size: 10, css: 'description_box') do %>
  <div class="upvote_box">
    <i class="fi-like"></i> <%= @vulnerability.upvotes %>
  </div>
  <%= markdown(@vulnerability.description) %>
  <ul class="tag_list">
    <% @vulnerability.tags_by_name.each do |t| %>
      <li>
        <%= link_to(t) do %>
          <i class="fi-pricetag-multiple"
             style="color: <%=t.color %>"></i>
          <span><%= t.name%></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul class="accordian vertical menu more_accordian" data-accordion-menu>
     <li>
       <a href="#"><i class="fi-plus"></i> More...</a>

       <ul class="menu vertical nested">
       <% @vulnerability.tags_by_name.each do |t| %>
         <li>
           <i class="fi-pricetag-multiple" style="color: <%=t.color %>"></i>
           <span class="tag_title"><%= t.name%></span>.
           <%= t.note %>
           <%= link_to(t) do %>
              Learn more about
              <i class="fi-pricetag-multiple" style="color: <%=t.color %>"></i>
              <%=t.name %>.
           <% end %>
         </li>
       <% end %>
         <li>
           <a href="#">
             <i class="fi-wrench"></i>
             <span class="tag_title">Files patched</span>
           </a>
           <ul class="menu vertical nested">
           <% @vulnerable_files.each do |vf| %>
             <li>
               <%= link_to vf do %>
                 <i class="fi-wrench"></i> <%= vf.filepath %>
               <% end %>
             </li>
           <% end %>
           </ul>
         </li>
         <li>
           <a href="#">
              <i class="fi-lock"></i>
              <span class="tag_title">Fix Commits</span>
            </a>
           <ul class="menu vertical nested">
           <% @vulnerability.fixes.each do |fix| %>
             <li>
               <%= link_to fix.commit do %>
                 <i class="fi-lock"></i> <%= fix.commit.title %>
               <% end %>
             </li>
           <% end %>
           </ul>
         </li>
         <li>
           <a href="#">
             <i class="fi-x-circle"></i>
             <span class="tag_title">Vulnerability Contributing Commits (VCCs)</span>
          </a>
           <ul class="menu vertical nested">
             <% @vulnerability.vccs.each do |vcc| %>
               <li>
                 <%= link_to vcc.commit do %>
                    <i class="fi-x-circle"></i>
                    <%= vcc.commit.title %>
                 <% end %>
               </li>
             <% end %>
           </ul>
         </li>
         <li>
           <a href="#">
             <i class="fi-puzzle"></i>
             <span class="tag_title">Mistakes Made</span>
          </a>
           <ul class="menu vertical nested">
             <li><em>The curator was asked to give their opinion on the mistakes made. Below is their answer.</em></li>
             <li><%=markdown(@vulnerability.notes['mistakes']['answer'])%></li>
           </ul>
         </li>
         <li>
           <a href="#">
             <i class="fi-book-bookmark"></i>
             <span class="tag_title">Raw Curator Notes</span>
           </a>
           <ul class="menu vertical nested">
              <li>
                <%= pretty_code(@vulnerability.notes).html_safe %>
              </li>
           </ul>
         </li>
       </ul>
     </li>
   </ul>
<% end %>


<div id="vtimeline_loading" class="loading">
  <%=image_tag("loading.gif")%>
</div>

<!-- VERTICAL TIMELINE -->
<section id="vtimeline">

<!--
Template for Vertical timeline. Actual values are populated in
This DOM element is duplicated, populated, and then shown.
-->

<div id="vtimeline-template"
     data-id=''
     class="vtimeline-block">
  <a id="" class="vtimeline-anchor"></a> <!-- Anchor to scroll to from -->
  <div class="vtimeline-img" style=""> <!-- style_color -->
    <p id="timeline-icon" class="material-icons md-32 md-light">
      <!-- style_icon -->
    </p>
  </div>
  <div class="vtimeline-content">
    <h2 id="title"><!-- title --></h2>
    <p id="description"><!-- description --></p>
    <p id="learn_more"><!-- detail_url --></p>
    <span class="vtimeline-date">
        <div id="isodate" style="display:none"><!--date--></div>
        <p id="pretty_date"><!--date--></p>
    </span>
  </div>
</div>

</section>

<section id="tooltips">
</section>

<a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

<script>
  var vulnerability_id = <%= @vulnerability.id %>
</script>
<%= javascript_include_tag "timeline/Event1" %>
<%= javascript_include_tag "timeline/Filter" %>
<%= javascript_include_tag "timeline/HorizontalTimeline" %>
<%= javascript_include_tag "timeline/timeline" %>
<%= javascript_include_tag "vulnerabilities/show" %>
