<%= render('shared/grid', size: 12) do %>

  <p class="tag-cloud">
    <% @tags_with_counts.each do |tag| %>
      <span style="font-size: <%= case tag.num_vulns
                                   when 1..4 then   '80%'
                                   when 5..7 then   '90%'
                                   when 8..12 then  '100%'
                                   when 12..20 then '110%'
                                   when 20..35 then '120%'
                                   else             '130%'
                                   end
                                %>">
        <%= link_to("/tags/#{tag.shortname}") do %>
          <i class="vhp-icon-<%= tag.icon %>" style="color: <%= tag.color %>"></i>
          <%= tag.name %>
        <% end %>
      </span>
    <% end %>
  </p>
  <p class="text-center">
    Tags are sized by the number of times they have been applied. Tags with zero or one vulnerability are not shown.
  </p>
<% end %>
