<%= render('shared/grid', size: 8) do %>
  <p class="text-center">
    Tags are sized by the number of times they have been applied.
  </p>

  <p class="text-justify">
    <% @tags_with_counts.each do |tag| %>
      <span style="font-size: <%= case tag.num_vulns
                                   when 1..4 then   '80%'
                                   when 5..7 then   '90%'
                                   when 8..12 then  '100%'
                                   when 12..30 then '110%'
                                   else             '120%'
                                   end
                                %>">
        <%= link_to tag do %>
          <i class="fi-pricetag-multiple" style="color: <%= tag.color %>"></i>
          <%= tag.name %>
        <% end %>
      </span>
    <% end %>
  </p>
<% end %>
