<% content_for(:title) do %>
  Tags
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('tags') %>
<% end %>

<% content_for(:container_css) { "tags-page no-padding fluid " }%>

<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<div class="grid-y align-center align-items-center gap-2">

  <div class="grid-x">
    <div class="cell">
      <h1 class="centered-title">
        Tags
        <i class="vhp-icon-tags"></i>
      </h1>
    </div>
  </div>

  <div class="cell full-container full-card tags-page-info">
    <p>
      Tags are one of the main ways we use organize vulnerabilities in VHP.
      Tags can be gathered automatically, or manually, or with a combination
      of both. Here are a few different types of tags below.
    </p>

    <div class=two-column>
      <p>
        <b>Lesson</b> tags are about broader lessons that can be
        learned from that vulnerability. These are security principles
        and engineering pitfalls that we believe should be taught to all
        software engineers.
      </p>

      <p>
        <b>Discovered</b> tags are about how the vulnerability was originally found.
      </p>

      <p>
        <b>Lifetime</b> tags indicate how long we believe the vulnerability remained in the system.
      </p>

      <p> 
        <b>CWE</b>, or Common Weakness Enumeration, tags are
        manually assigned by curators to describe the particular type of
        vulnerability. 
      </p>

      <p>
        <b>Subsystem</b> tags are the curators' best efforts at
        determining what part of the system this vulnerability
        affected
      .</p>

      <p>
        <b>Project</b> tags are the case study the vulnerability is from.
      </p>

      <p>
        <b>Language</b> tags are what type of source code was fixed.
      </p>

      <p>
        <b>Severity</b> tags are based on the <a href="https://www.first.org/cvss/" target="_blank" rel="noopener noreferrer">NVD's CVSS</a>.
      </p>
    </div>

  </div>

  <div class="cell full-container">
    <ul class="tabs"
        id="tag-tabs"
        data-tabs
        data-deep-link="true"
        data-update-history="true"
        data-deep-link-smudge="true"
        data-deep-link-smudge-delay="500">
      <li class="tabs-title is-active">
        <a href="#table" aria-selected="true">
          <i class="vhp-icon-table"></i>
          Table
        </a>
      </li>
      <li class="tabs-title">
        <a href="#timeline">
          <i class="vhp-icon-cloud"></i>
          Cloud
        </a>
      </li>
      <li class="tabs-title">
        <a href="#articles">
          <i class="vhp-icon-article"></i>
          Articles
        </a>
      </li>
    </ul>

    <div class="tab-content" data-tabs-content="tag-tabs">
      <div class="tabs-panel is-active" id="table">
        <%= render 'table' %>
      </div>
      <div class="tabs-panel bordered-panel padding-3" id="timeline">
        <%= render 'cloud' %>
      </div>
      <div class="tabs-panel bordered-panel padding-3" id="articles">
        <% @articleTags.each do |article| %>
          <div id="blurb-1wide-template" class="vhp-articles blurb ">
            <div class="article-image">
              <div class="vhp-art-<%= article.art %>">
              </div>
            </div>
            <div class="article-preview">
              <a href="/articles/<%= article.id %>">
                <h2> <%= article.title %> </h2>
              </a>
              <span class="vhp-markdown">
                <%= article.blurb %>
              </span>
              <a href="/articles/<%= article.id %>" class="article-link">Full Article</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

