<p id="notice"><%= notice %></p>

<div class="grid-x">
  <div class="cell small-centered columns">
    <h1 class="centered-title">
      <i class="fi-pricetag-multiple"></i>
      Tags
      <i class="fi-pricetag-multiple"></i>
    </h1>
  </div>
</div>

<%= render('shared/grid', size: 8) do %>
    <p>
Tags are one of the main ways we use organize vulnerabilities in VHP.
Tags can be gathered automatically, or manually, or with a combination
of both. Here are a few different types of tags below.
    </p>
    <p>
<b>CWE</b>, or Common Weakness Enumeration, tags are manually assigned
by curators to describe the particular type of vulnerability.
    </p>
    <p>
<b>Lesson</b> tags are about broader lessons that can be learned from
that vulnerability. These are security principles and engineering
pitfalls that we believe should be taught to all software engineers.
    </p>
    <p>
<b>Discovered</b> tags describe various classifications of about how
the vulnerability was originally found.
    </p>
    <p>
<b>Subsystem</b> tags are the curators' best efforts at determining
what part of the system this vulnerability affected.
    </p>
<% end %>

<%= render 'shared/loading' =%>

<%= render('shared/grid', size: 10) do %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<%= javascript_include_tag "tags/index" %>
