<p id="notice"><%= notice %></p>

<%= render 'shared/title' do %>
  <i class="vhp-icon-tags" style="color: <%=@tag.color %>"></i>
  <%= @tag.name %>
  <i class="vhp-icon-tags" style="color: <%=@tag.color %>"></i>
<% end %>

<%= render('shared/grid', size: 8) do
  markdown(@tag.description)
end %>

<%= render('shared/grid', size: 8, css: 'text-center') do %>
  <h2>Examples</h2>
<% end %>

<%= render 'shared/loading' %>

<%= render('shared/grid', size: 10, css: 'text-center') do %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<script>
  var tag_id = <%= @tag.id %>
</script>
  <%= javascript_include_tag "tags/show" %>
