<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="row">
  <div id="shell">
    <div id="title">
      <h1 class="centered-title">
        Vulnerabilities Tagged as <%= @tag.name %></h1>
    </div>
  </div>
</div>
<div class="row">
  <%= @tag.description %>
</div>
<div class="center">
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>
<script>
  var tag_id = <%= @tag.id %>
</script>
  <%= javascript_include_tag "tags/show" %>
