<p id="notice"><%= notice %></p>

<div class="grid-x">
  <div class="cell">
      <h1 class="centered-title">
        <%= @tag.name %></h1>
    </div>
  </div>
</div>

<div class="grid-x">
  <div class="cell small-6 small-offset-3">
    <%= markdown(@tag.description) %>
  </div>
</div>

<div class="grid-x">
  <div class="cell small-8 small-offset-2 text-center">
    <h2>Examples</h2>
  </div>
</div>

<%= render 'shared/loading' =%>

<div class="grid-x">
  <div class="cell small-8 small-offset-2">
    <table id="datatable" class="display" width="100%">
      <thead></thead>
      <tbody></tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>

<script>
  var tag_id = <%= @tag.id %>
</script>
  <%= javascript_include_tag "tags/show" %>
