<% content_for(:title) do %>
  <%= @tag.name %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render 'shared/title' do %>
  <i class="vhp-icon-tags" style="color: <%= @tag.color %>"></i>
  <%= @tag.name %>
  <i class="vhp-icon-<%= @tag.icon %>" style="color: <%= @tag.color %>"></i>
<% end %>

<%= render('shared/grid', size: 8, css: 'vhp-markdown') do
    @tag.description
end %>

<%= render('shared/grid', size: 8) do %>
  <ul class="tabs"
      id="code-tabs"
      data-tabs
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500">
    <li class="tabs-title is-active">
      <a href="#examples" aria-selected="true">
        <i class="fi-list-thumbnails"></i>
        Examples
      </a>
    </li>
    <% if @tag.articles.any? %>
      <li class="tabs-title">
        <a href="#articles">
          <i class="vhp-icon-article"></i>
          Articles
        </a>
      </li>
    <% end%>
  </ul>
<% end %>
<div data-tabs-content="code-tabs">
  <div class="tabs-panel is-active" id="examples">
    <%= render('shared/grid', size: 8, css: 'text-center') do %>
      <h2>Examples</h2>
    <% end %>

    <%= render 'shared/loading' %>

    <%= render 'shared/vuln_tooltip' %>

    <%= render('shared/grid', size: 10, css: 'text-center') do %>
      <table id="datatable" class="display" width="100%">
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
      </table>
    <% end %>
  </div>
  <div class="tabs-panel" id="articles">
     <% if @tag.articles.length() != 0 %>
        <% @tag.articles.each do |article| %>
          <div id="blurb-1wide-template" class="vhp-articles blurb ">
            <div class="grid-x grid-margin-x grid-margin-y align-center">
            <div class="cell medium-3"><div class="vhp-art-<%= article.art %>"></div></div>
              <div class="cell medium-8">
                  <h3><a href="../articles/<%= article.id %>"><%= article.title.html_safe %></a></h3>
                  <p><%= article.blurb.html_safe %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
              <div id="blurb-1wide-template" class="vhp-articles blurb ">
                <div class="grid-x grid-margin-x grid-margin-y align-center">
                  <ul class="full-wide-subtitles">
                    <br />
                    <h3>There are no articles here... yet</h3>
                  </ul>
                </div>
              </div>
        <% end %>
  </div>
</div>

<script>
  var tag_id = <%= @tag.id %>
</script>

