
<%= render('shared/grid', size: 10) do %>

  <div id="offenders_visual">
    <div id="loading_map" class="loading">
      <%=image_tag("loading.gif")%>
    </div>
    <div class="offenders_path_header">
      <span id="offenders_path">&nbsp;</span>
      <span id="offenders_path_link"></span>
    </div>
    <div id="offenders_dropdown">
      <ul class="project-select align-left vertical" style="width: max-content;">
        <li style="
            border: 1px solid #ddd;
            margin: 5px 5px 5px 10px;
            list-style: none;
            padding: 10px;
        ">
          <a href="#map" class="project-select-active">Project</a>
          <ul class="submenu" style="list-style: none;">
            <li style="padding: 5px 0px 5px 0px;">
              <a href="#map" data-project="0" class="project-choice">
                <i class="vhp-icon-vulnerability"></i> All Projects
              </a>
            </li>
            <% @projects.each do |p| %>
              <li style="padding: 5px 0px 5px 0px;">
                <a href="#map" data-project="<%= p.id %>" class="project-choice">
                  <img class="<%= p.subdomain %>-inline-logo" title="<%= p.name %>">
                  <%= p.name%>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div id="offenders_map"></div>
    <p>
      Click on the visual to zoom in. Click on the path to learn more about the file.
    </p>
  </div>

<% end %>
