<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Known Offenders
<% end %>

<div class="offenders-layout"> <!-- Using a our own custom layout -->
  <div class="offenders-nav"><!-- Using a our own custom layout -->
    <ul class="vertical tabs" id="code-tabs"
        data-tabs
        data-deep-link="true"
        data-update-history="true"
        data-deep-link-smudge="true"
        data-deep-link-smudge-delay="500">
      <li class="tabs-title is-active">
        <a href="#map" aria-selected="true"><i class="vhp-icon-graph-pie"></i> Map </a>
      </li>
      <li class="tabs-title">
        <a href="#table"><i class="vhp-icon-table"></i> Table</a>
      </li>
      <li class="tabs-title">
        <a href="#articles"><i class="vhp-icon-article"></i> Articles </a>
      </li>
    </ul>

    <%# <select class="project-choice">
      <option value="0">All Projects</option>
      <!-- JS will append the others -->
    </select> %>
  </div>
  <div class="offenders-content" data-tabs-content="code-tabs">
      <div class="tabs-panel is-active" id="map"><%= render 'offenders_map' %></div>
      <div class="tabs-panel" id="table"><%= render 'offenders_table' %></div>
      <div class="tabs-panel" id="articles"><%= render 'offenders_articles' %></div>
  </div>
</div>

<div class="grid-x">
  <div class="cell medium-3 medium-offset-3">
  <p><b>Vulnerabilities are everywhere.</b>
    As you explore the curated vulnerability history of the projects below, you'll
    notice that vulnerabilities can appear where you'd least expect them: in the
    clipboard, in extensions, or even in text internationalization. Remember to
    check these unexpected places as you traverse each project's file structure.</p>
  </div>
  <div class="cell medium-3">
    <p>A <b>known offender</b> is a source code file that has been fixed for a vulnerability at any point in history.</p>

    <p>Many factors can lead to a file being a known offender. Perhaps a
    feature has a high security risk to begin with. Perhaps developers
    make more mistakes due to complexity of design, lack of experience or
    miscommunications. Ideally, developers should know where
    vulnerabilities are likely to arise in the system - so look for
    surprises!</p>
  </div>
</div>

<%= javascript_pack_tag "filepaths_index" %>
