<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Known Offenders
<% end %>

<%= render('shared/grid', size: 8) do %>
    <p>A <b>known offender</b> is a source code file that has been fixed
for a vulnerabilty at any point in history.</p>

    <p>
      <ul class="tabs"
          id="code-tabs"
          data-tabs
          data-deep-link="true"
          data-update-history="true"
          data-deep-link-smudge="true"
          data-deep-link-smudge-delay="500">
        <li class="tabs-title is-active">
          <a href="#map" aria-selected="true">
            <i class="fi-graph-pie"></i>
            Map
          </a>
        </li>
        <li class="tabs-title">
          <a href="#table">
            <i class="fi-list-thumbnails"></i>
            Table
          </a>
        </li>
        <li class="tabs-title">
          <a href="#articles">
            <i class="vhp-icon-article"></i>
            Articles
          </a>
        </li>
      </ul>
    </p>

<% end %>

<div data-tabs-content="code-tabs">
  <div class="tabs-panel is-active" id="map">
    <%= render 'offenders_map' %>
  </div>
  <div class="tabs-panel" id="table">
    <%= render 'offenders_table' %>
  </div>
  <div class="tabs-panel" id="articles">
     <% if @articleFilepaths.length() != 0 %>
        <% @articleFilepaths.each do |article| %>
          <div id="blurb-1wide-template" class="vhp-articles blurb ">
            <div class="grid-x grid-margin-x grid-margin-y align-center">
            <div class="cell medium-3"><div class="vhp-art-<%= article.art %>"></div></div>
              <div class="cell medium-8">
                  <h3><a href="../articles/<%= article.id %>"><%= article.title.html_safe %></a></h3>
                  <p><%= article.blurb.html_safe %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
              <div id="blurb-1wide-template" class="vhp-articles blurb ">
                <div class="grid-x grid-margin-x grid-margin-y align-center">
                <ul class="full-wide-subtitles">
                  <br />
                  <h3>There are no articles here... yet</h3>
                  <ul>
                </div>
              </div>
        <% end %>
  </div>
</div>

<%= javascript_include_tag "filepaths/index", async: Rails.env.production? %>
<%= javascript_include_tag "filepaths/offender_map",
    async: Rails.env.production? %>
<%= javascript_include_tag "filepaths/offender_table",
    async: Rails.env.production? %>

<%= render('shared/grid', size: 6) do %>

<h2>What Happened?</h2>

<p>Many factors can lead to a file being a known offender. Perhaps a
feature has a high security risk to begin with. Perhaps developers
make more mistakes due to complexity of design, lack of experience or
miscommunications. Ideally, developers should know where
vulnerabilities are likely to arise in the system - so look for
surprises!</p>

<% end %>
