<% content_for(:title) do %>
  Known Offenders
<% end %>

<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<%= render('shared/title') do %>
  Known Offenders
<% end %>

<div class="grid-x">
  <div class="cell tiny-subtitle">
    <em>noun.</em> a source code file fixed for a vulnerability
  </div>
</div>

<div class="offenders-nav"><!-- Using a our own custom layout -->
  <ul class="vertical tabs" id="code-tabs"
      data-tabs
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500">
    <li class="tabs-title is-active">
      <a href="#map" aria-selected="true"><i class="vhp-icon-graph-pie"></i> Map </a>
    </li>
    <li class="tabs-title">
      <a href="#table"><i class="vhp-icon-table"></i> Table</a>
    </li>

    <% if @articleFilepaths.length() != 0 %>
      <li class="tabs-title">
        <a href="#articles"><i class="vhp-icon-article"></i> Articles </a>
      </li>
    <% end %>
  </ul>

  <%# <select class="project-choice">
    <option value="0">All Projects</option>
    <!-- JS will append the others -->
  </select> %>
</div>
<div class="offenders-layout"> <!-- Using a our own custom layout -->
  <div class="offenders-content" data-tabs-content="code-tabs">
      <div class="tabs-panel is-active" id="map"><%= render 'offenders_map' %></div>
      <div class="tabs-panel" id="table"><%= render 'offenders_table' %></div>
      <div class="tabs-panel" id="articles"><%= render 'offenders_articles' %></div>
  </div>
</div>
