<p id="notice"><%= notice %></p>

<%= render('shared/title') do %>
  Known Offenders
<% end %>

<%= render('shared/grid', size: 8) do %>
    <p>A <b>known offender</b> is a source code file that has been fixed
for a vulnerabilty at any point in history.</p>

    <p>
      <ul class="tabs"
          id="code-tabs"
          data-tabs
          data-deep-link="true"
          data-update-history="true"
          data-deep-link-smudge="true"
          data-deep-link-smudge-delay="500">
        <li class="tabs-title is-active">
          <a href="#map" aria-selected="true">
            <i class="fi-graph-pie"></i>
            Map
          </a>
        </li>
        <li class="tabs-title">
          <a href="#table">
            <i class="fi-list-thumbnails"></i>
            Table
          </a>
        </li>
      </ul>
    </p>

<% end %>

<div data-tabs-content="code-tabs">
  <div class="tabs-panel is-active" id="map">
    <%= render 'offenders_map' %>
  </div>
  <div class="tabs-panel" id="table">
    <%= render 'offenders_table' %>
  </div>
</div>


<%= render('shared/grid', size: 6) do %>

<h2>What Happened?</h2>

<p>Many factors can lead to a file being a known offender. Perhaps a
feature has a high security risk to begin with. Perhaps developers
make more mistakes due to complexity of design, lack of experience or
miscommunications. Ideally, developers should know where
vulnerabilities are likely to arise in the system - so look for
surprises!</p>

<% end %>
