
<p id="notice"><%= notice %></p>

<%= render('shared/title') do %>
  Source Code File
<% end %>

<%= render('shared/grid', size: 12) do %>
  <h2 class="filepath_header"><%=@filepath.filepath %></h2>
<% end %>

<%= render('shared/grid', size: 8) do %>
  <p class="text-right">
    FIXME Find on GitHub  
<% end %>

    <%= render('shared/github', q: @filepath.filepath) %>
  </p>
<% end %>

<%= content_tag :div, class: "filepath_id", data: {id: @filepath.id} do %>
<% end %>

<%= render('shared/grid', size: 8) do %>
  <h2>Curator Notes</h5>
  <p><%= @filepath.note %></p>
<% end unless @filepath.note.to_s.empty? %>

<%= render('shared/grid', size: 8) do %>
  <ul class="tabs"
      id="code-tabs"
      data-tabs
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500">
    <li class="tabs-title is-active">
      <a href="#dev_pie" aria-selected="true">
        <i class="vhp-icon-graph-pie"></i>
        Contributors
      </a>
    </li>
    <li class="tabs-title">
      <a href="#edits">
        <i class="vhp-icon-table"></i>
        Edits
      </a>
    </li>
    <li class="tabs-title">
      <a href="#vulnerabilities">
        <i class="vhp-icon-table"></i>
        Vulnerabilities
      </a>
    </li>
    <li class="tabs-title">
      <a href="#pedigree">
        <i class="fi-graph-horizontal"></i>
        Pedigree
      </a>
    </li>
  </ul>
  </p>
<% end %>

<div data-tabs-content="code-tabs">
  <div class="tabs-panel is-active" id="dev_pie">
    <%= render 'dev_pie' %>
  </div>
  <div class="tabs-panel" id="edits">
    <%= render 'edits' %>
  </div>
  <div class="tabs-panel" id="vulnerabilities">
    <%= render 'filepath_vulnerabilities' %>
  </div>
  <div class="tabs-panel" id="pedigree">
    <%= render 'pedigree' %>
  </div>
</div>
