<p id="notice"><%= notice %></p>

<div class="row">

  <div class="large-12 columns">
    <h1 id="filepath">File: <%=@filepath.filepath %></h1>
    <div id="filepath_id" style="display:none;"><%=@filepath.id %></div>
    <br>

    <div class="callout secondary">
        <h5>Notes:  <br><br></h5>
        <p><%=@filepath.notes %></p>
    </div>

  </div>

</div>

<div class="row">
  <h3>Associated Commits: </h3>

  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>

<%= javascript_include_tag "filepaths/show" %>
