
<p id="notice"><%= notice %></p>

<%= render('shared/title') do %>
  Source Code File
<% end %>

<%= render('shared/grid', size: 12) do %>
  <h2 class="filepath_header"><%=@filepath.filepath %></h2>
<% end %>

<%= render('shared/grid', size: 8) do %>
  <p class="text-right">
  <% if File.dirname(@filepath.filepath) != '.' %>
    <a href="<%= @filepath.project.github_search_url_prefix + 'path:' + File.dirname(@filepath.filepath) + '+filename:' + File.basename(@filepath.filepath) %>" target="_blank">Find on GitHub</a>
  <% else%>
      <a href="<%= @filepath.project.github_search_url_prefix  + 'filename:' + File.basename(@filepath.filepath) %>" target="_blank">Find on GitHub</a>
  <% end%>
<% end %>

<%= render('shared/grid', size: 8) do %>
  <h2>Curator Notes</h2>
  <p><%= @filepath.note %></p>
<% end unless @filepath.note.to_s.empty? %>

<%= render('shared/grid', size: 8) do %>
  <ul class="tabs"
      id="code-tabs"
      data-tabs
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500">
    <li class="tabs-title is-active">
      <a href="#dev_pie" aria-selected="true">
        <i class="vhp-icon-graph-pie"></i>
        Contributors
      </a>
    </li>
    <li class="tabs-title">
      <a href="#commits">
        <i class="vhp-icon-table"></i>
        Key Commits
      </a>
    </li>
    <li class="tabs-title">
      <a href="#vulnerabilities">
        <i class="vhp-icon-table"></i>
        Vulnerabilities
      </a>
    </li>
    <li class="tabs-title">
      <a href="#articles">
        <i class="vhp-icon-article"></i>
        Articles
      </a>
    </li>
  </ul>
<% end %>

<div data-tabs-content="code-tabs">
  <div class="tabs-panel is-active" id="dev_pie">
    <%= render 'dev_pie' %>
  </div>
  <div class="tabs-panel" id="commits">
    <%= render 'key_commits' %>
  </div>
  <div class="tabs-panel" id="vulnerabilities">
    <%= render 'filepath_vulnerabilities' %>
  </div>
  <div class="tabs-panel" id="articles">
     <% if @filepath.articles.length() != 0 %>
        <% @filepath.articles.each do |article| %>
          <div id="blurb-1wide-template" class="vhp-articles blurb ">
            <div class="grid-x grid-margin-x grid-margin-y align-center">
              <div class="cell medium-8">
                  <h3><%= article.title %></h3>
                  <p><%= article.blurb.html_safe %></p>
                  <a href="../articles/<%= article.id %>">Full Article</a>
              </div>
              <div class="cell medium-3"><div class="vhp-art-<%= article.art %>" /></div>
            </div>
          </div>
          <% end %>
        <% else %>
              <div id="blurb-1wide-template" class="vhp-articles blurb ">
                <div class="grid-x grid-margin-x grid-margin-y align-center">
                <ul class="full-wide-subtitles">
                  <br />
                  <h3>There are no articles here... yet</h3>
                  <ul>
                </div>
              </div>
        <% end %>
  </div>
</div>

<script>
  const filepath_id = <%= @filepath.id %>;
  const filepath_slug = "<%= @filepath.slug %>"
</script>

<%= javascript_pack_tag 'filepaths_show' %>
