<% content_for(:title) do %>
  By the Numbers
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('status') %>
<% end %>

<%= render('shared/title') do %>
  Our Status By The Numbers
<% end %>

<!-- Vulnerabilities -->
<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_vulns_report %></div>
    <div class="cell writing vhp-markdown">
### Vulnerabilities

We have collected historical engineering data on vulnerabilities that have been publicly reported from prominent open source projects.
    </div>
  </div>
</div>

<!-- Curated -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_curated_report %></div>
    <div class="cell"><h3>Curations</h3></div>
    <div class="cell writing vhp-markdown">
The number of vulnerabilities that have been manually reviewed by a curator.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @word_count_report %></div>
    <div class="cell"><h3>Words Written</h3></div>
    <div class="cell writing vhp-markdown">
The approximate number of words that curators have written in the "description" field for a vulnerability.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @perc_curated_report %></div>
    <div class="cell"><h3>Curated</h3></div>
    <div class="cell writing vhp-markdown">
The percentage of vulnerabilities we need curated.
    </div>
    <div class="cell">
      <div class="progress"
         role="progressbar"
         aria-valuenow="<%= @perc_curated_report %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @perc_curated_report %>">
        <span class="progress-meter progress-color" style="width: <%= @perc_curated_report %>">
           <p class="progress-meter-text"><%= @perc_curated_report %></p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_projects_report %></div>
    <div class="cell"><h3>Case Studies</h3></div>
    <% @project_data.each do |p| %>
      <div class="cell">
        <img class="<%= p.subdomain %>-med-logo"
             title="<%= p.fullname  %>">
        <%= p.fullname %>
      </div>
    <% end %>
  </div>
</div>

<!-- Fixes & VCCs -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 small-offset-2 grid-y">
    <div class="cell stat"><%= @num_fixes_report %></div>
    <div class="cell"><h3>Fixes</h3></div>
    <div class="cell">
      <div class="progress"
      role="progressbar"
      aria-valuenow="<%= @perc_w_fixes %>"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuetext="<%= @perc_w_fixes_report %>">
      <span class="progress-meter progress-color" style="width: <%= @perc_w_fixes_report %>">
        <p class="progress-meter-text"><%= @perc_w_fixes_report %> of <%= @num_vulns_report %></p>
      </span>
    </div>
  </div>
    <div class="cell writing vhp-markdown">
The **number of commits** we identified as having fixed a vulnerability. These changes identify the original mistake in the source code. We have <%= @num_w_fix_report %> (<%=@perc_w_fixes_report %>)
vulnerabilities for which we have identified at least one fix commit.
    </div>
  </div>

  <div class="cell small-4 small-offset-2 grid-y">
    <div class="cell stat"><%= @num_vccs_report %></div>
    <div class="cell"><h3>VCCs</h3></div>
    <div class="cell">
      <div class="progress"
      role="progressbar"
      aria-valuenow="<%= @perc_w_vccs %>"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuetext="<%= @perc_w_vccs_report %>">
      <span class="progress-meter progress-color" style="width: <%= @perc_w_vccs_report %>">
        <p class="progress-meter-text"><%= @perc_w_vccs_report %> of <%= @num_vulns_report %></p>
      </span>
    </div>
  </div>
    <div class="cell writing vhp-markdown">
The number of **Vulnerability-Contributing Commits** we have identified. These are considered potential origins of the coding mistake that led to these vulnerabilities. We have <%= @num_w_vcc_report %> (<%=@perc_w_vccs_report %>)
vulnerabilities for which we have identified at least one fix commit.
    </div>
  </div>
</div>

<!-- Tags -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_tags_report %></div>
    <div class="cell"><h3>Tags</h3></div>
    <div class="cell writing vhp-markdown">
The number of different tags we have applied to vulnerabilities.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @avg_tagged_report %></div>
    <div class="cell"><h3>Tags per Vulnerability</h3></div>
    <div class="cell writing vhp-markdown">
The average number of tags we have applied to a vulnerability.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_lessons %></div>
    <div class="cell"><h3>Lessons</h3></div>
    <div class="cell writing vhp-markdown">
The number of instances where a curator flagged a vulnerability of being an example of a common secure software engineering lesson. Learn more about vulnerabilities tagged with a [:tag: Lessons](/tags?search=Lesson).
    </div>
  </div>


</div>

<!-- Events -->
<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-2 grid-y">
    <div class="cell stat"><%= @num_events_report %></div>
    <div class="cell writing vhp-markdown">
### Events

Our timelines show events in the history of the vulnerable code to tell a unique story about the people, project, and code behind the issue.
    </div>
  </div>
  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @events_per_vuln_report %></div>
    <div class="cell writing vhp-markdown">
### Events per Vulnerability

The average number of events each vulnerability has on its timeline.
    </div>
  </div>
</div>

<!-- Articles -->
<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_articles_report %></div>
    <div class="cell writing vhp-markdown">
### Articles

We always have something to say about how vulnerabilities come into existence.
    </div>
  </div>
</div>

<%= javascript_include_tag 'status' %>