<%content_for :head  do %>
  <%= stylesheet_pack_tag('status') %>
<% end %>


<%= render('shared/title') do %>
  Status
<% end %>

<div class="brag-row grid-x text-center">
  <div class="cell small-4 small-offset-4 grid-y">
    <div class="cell stat"><%= @num_vulns_report %></div>
    <div class="cell writing vhp-markdown">
### Vulnerabilities

We have collected historical engineering data on vulnerabilities that have been publicly reported from prominent open source projects.
    </div>
  </div>
</div>

<!-- Curated -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_curated_report %></div>
    <div class="cell"><h3>Curations</h3></div>
    <div class="cell writing vhp-markdown">
The number of vulnerabilities that have been manually reviewed by a curator.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @word_count_report %></div>
    <div class="cell"><h3>Words Written</h3></div>
    <div class="cell writing vhp-markdown">
The approximate number of words that curators have written in the "description" field for a vulnerability.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @perc_curated_report %></div>
    <div class="cell"><h3>Curated</h3></div>
    <div class="cell writing vhp-markdown">
The percentage of vulnerabilities we need curated.
    </div>
    <div class="cell">
      <div class="progress"
         role="progressbar"
         aria-valuenow="<%= @perc_curated_report %>"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuetext="<%= @perc_curated_report %>">
        <span class="progress-meter progress-color" style="width: <%= @perc_curated_report %>">
           <p class="progress-meter-text"><%= @perc_curated_report %></p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Fixes -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 small-offset-2 grid-y">
    <div class="cell stat"><%= @num_fixes_report %></div>
    <div class="cell"><h3>Fixes</h3></div>
    <div class="cell writing vhp-markdown">
The **number of commits** identified as having fixed a vulnerability.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_w_fix_report %></div>
    <div class="cell"><h3>Vulnerabilities w/Fixes</h3></div>
    <div class="cell writing vhp-markdown">
The number of vulnerabilities for which we have identified at least one fix commit.
    </div>
    <div class="cell">
      <div class="progress"
           role="progressbar"
           aria-valuenow="<%= @perc_w_fixes %>"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-valuetext="<%= @perc_w_fixes_report %>">
        <span class="progress-meter progress-color" style="width: <%= @perc_w_fixes_report %>">
           <p class="progress-meter-text"><%= @perc_w_fixes_report %> of <%= @num_vulns_report %></p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- VCCs -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 small-offset-2 grid-y">
    <div class="cell stat"><%= @num_vccs_report %></div>
    <div class="cell"><h3>VCCs</h3></div>
    <div class="cell writing vhp-markdown">
The number of Vulnerability-Contributing Commits that have been identified. These are considered potential origins of the coding mistake that led to these vulnerabilities.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_w_vcc_report %></div>
    <div class="cell"><h3>Vulnerabilities w/VCCs</h3></div>
    <div class="cell writing vhp-markdown">
The number of vulnerabilities for which we have identified at least one VCC commit.
    </div>
    <div class="cell">
      <div class="progress"
           role="progressbar"
           aria-valuenow="<%= @perc_w_vccs_report %>"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-valuetext="<%= @perc_w_vccs_report %>">
        <span class="progress-meter progress-color" style="width: <%= @perc_w_vccs_report %>">
           <p class="progress-meter-text"><%= @perc_w_vccs_report %> of <%= @num_vulns_report %></p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Tags -->
<div class="brag-row grid-x grid-margin-x text-center">
  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_tags_report %></div>
    <div class="cell"><h3>Tags</h3></div>
    <div class="cell writing vhp-markdown">
The number of different tags we have applied to vulnerabilities.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @avg_tagged_report %></div>
    <div class="cell"><h3>Tags per Vulnerability</h3></div>
    <div class="cell writing vhp-markdown">
The average number of tags we have applied to a vulnerability.
    </div>
  </div>

  <div class="cell small-4 grid-y">
    <div class="cell stat"><%= @num_lessons %></div>
    <div class="cell"><h3>Lessons</h3></div>
    <div class="cell writing vhp-markdown">
The number of instances where a curator flagged a vulnerability of being an example of a common secure software engineering lesson. Learn more about vulnerabilities tagged with a [:tag: Lessons](/tags?search=Lesson).
    </div>
  </div>


</div>
