<p id="notice"><%= notice %></p>

<h1>Source Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @source_files.each do |source_file| %>
      <tr>
        <td><%= link_to 'Show', source_file %></td>
        <td><%= link_to 'Edit', edit_source_file_path(source_file) %></td>
        <td><%= link_to 'Destroy', source_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source File', new_source_file_path %>
