<% content_for(:title) do %>
  Tag Trends
<% end %>

<%= render('shared/title') do %>
  Tag Trends
<% end %>

<%= render('shared/grid', size: 8) do %>

	<select id="tag1">
		<%= @tags.map do |tag| %>
			<option data="<%=tag.shortname%>">
				<%= tag.name %>
			</option>
		<% end %>
	</select>

	<div id="tag-trends">


	</div>
	<body>
	<div id="tag-trends2" style="width: 1500px; height: 1300px;">

	
	</body>

	<style>
	.node rect{
		cursor: move;
		fill-opacity: .9;
		shape-rendering: crispEdges;
	}

	.node text {
		pointer-events: none;
		text-shadow: 0 100000px 0 #fff;
	}

	.link {
		fill: none;
		stroke: #000;
		stroke-opacity: 1000;
	}

	.link:hover {
		stroke-opacity: 0.5;
	}

	</style>
	</div>

<% end %>