<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss"></link>
</head>

<body>

  <div class="data-sticky-container">
    <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%;">
      <div class="top-bar-title">
        <img src="<%=image_path('icon-logo.png') %>" alt="Vulnerability History">
        <strong><p style="padding-left:10px;">The Vulnerability History <br> Project</p></strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="researchers">Researchers</a></li>
            <li><a href="#">CVE Data</a></li>
            <li>
              <a href="#">Projects</a>
              <ul class="menu vertical">
                <li><a href="#">Chromium</a></li>
                <li><a href="#">Apache</a></li>
              </ul>
            </li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="imageback">
    <img src="<%=image_path('welcome-head.jpg') %>" alt="welcome header" width="100%">
    <h1 class="animated fadeInDown">Vulnerability <br> History Project <br>
      <div class="subheader" style="margin-top: 20px;">Visually analyze vulnerability history from an open source
      project.<br>Interpret data from vulnerability, source code, developer, and release history that is showcased
      in a <br> simple and interactive timeline.</div>
      <a href="projects" class="button info" style="margin-top: 20px;">Start by selecting a project</a>
    </h1>
  </div>
  <div class="row" style="margin-top: 2%;">
    <div class="small-2 large-4 columns">
      <img src="<%=image_path('github-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
      <p style="text-align: center; margin-top: 10%;">Get familiar with where our data comes from and <br> learn more about contributing to our repository.</p>
    </div>
    <div class="small-2 large-4 columns">
      <img src="<%=image_path('graph-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
      <p style="text-align: center; margin-top: 10%;">View the vulnerability data for a project.<br><a href="vulnerabilities">Vulnerabilities</a></p>
    </div>
    <div class="small-2 large-4 columns">
      <img src="<%=image_path('research-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
      <p style="text-align: center; margin-top: 10%;">Researchers can connect directly to our API <br> to get our data quick and easy.</p>
    </div>
  </div>

</body>
</html>
