<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

</head>

<body>

  <div class="data-sticky-container">
    <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%;">
      <div class="top-bar-title">
        <img src="<%=image_path('icon-logo.png') %>" alt="Vulnerability History">
        <strong><p style="padding-left:10px;">The Vulnerability History <br> Project</p></strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="researchers">Researchers</a></li>
            <li><a href="#">CVE Data</a></li>
            <li>
              <a href="#">Projects</a>
              <ul class="menu vertical">
                <li><a href="#">Chromium</a></li>
                <li><a href="#">Apache</a></li>
              </ul>
            </li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="imageback">
    <img src="<%=image_path('welcome-head.jpg') %>" alt="welcome header" width="100%">
    <h1 class="animated fadeInDown">Vulnerability <br> History Project <br>
      <div class="subheader" style="margin-top: 20px;">Visually analyze vulnerability history from an open source
      project.<br>Interpret data from vulnerability, source code, developer, and release history that is showcased
      in a <br> simple and interactive timeline.</div>
      <a href="projects" class="button info" style="margin-top: 20px;">Start by selecting a project</a>
    </h1>
  </div>
  <div class="row" style="margin-top: 2%;">
    <div class="small-2 large-4 columns">
      <img src="<%=image_path('github-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
      <p style="text-align: center; margin-top: 10%;">Get familiar with where our data comes from and <br> learn more about contributing to our repository.</p>
    </div>
    <div class="small-2 large-4 columns">
      <img src="<%=image_path('graph-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
      <p style="text-align: center; margin-top: 10%;">View the vulnerability data for a project.<br><a href="vulnerabilities">Vulnerabilities</a></p>
    </div>
    <div class="small-2 large-4 columns">
      <img src="<%=image_path('research-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
      <p style="text-align: center; margin-top: 10%;">Researchers can connect directly to our API <br> to get our data quick and easy.</p>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="row full-width">
      <div class="small-6 medium-3 large-2 columns">
        <h4>Projects</h4>
        <ul class="footer-links">
          <li><a href="#">Chromium</a></li>
          <li><a href="#">Apache</a></li>
          <li><a href="#">More...</a></li>
        </ul>
      </div>
      <div class="small-6 medium-3 large-2 columns">
        <h4>Research Data</h4>
        <ul class="footer-links">
          <li><a href="#">Vulnerabilities</a></li>
          <li><a href="#">Source Code</a></li>
          <li><a href="#">Commits</a></li>
          <li><a href="#">Releases</a></li>
          <li><a href="#">Developers</a></li>
        </ul>
      </div>
      <div class="small-12 medium-3 large-4 columns">
        <i class="fi-laptop"></i>
        <p>Our data comes from years of researching our exposed case studies. Much of our work is available on GitHub. blah blah..</p>
      </div>
      <div class="small-12 medium-3 large-4 columns">
        <img src="<%=image_path('logo.png') %>" alt="Vulnerability History">
        <p>The Vulnerability History Project is made and maintained by RIT research-driven, students. This prototype was developed by Dr. Andy Meneely as of 2016.</p>
      </div>
    </div>
  </footer>


</body>
</html>
