<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/sem-ui.scss"></link>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss"></link>
</head>

<body>

  <div class="ui top fixed stackable menu">
    <div class="item">
      <img src="<%=image_path('icon-logo.png') %>" alt="Vulnerability History">
      <p style="padding-left:10px;">The Vulnerability History <br> Project</p>
    </div>
    <div class="right menu">
      <a class="item" href="researchers">Researchers</a>
      <a class="item">CVE Data</a>
      <a class="item" href="projects">About Our Projects</a>
    </div>
  </div>
  <div class="imageback">
    <img src="<%=image_path('welcome-head.jpg') %>" alt="welcome header" width="100%">
    <h1 class="animated fadeInDown ui header">Vulnerability <br> History Project <br>
      <div class="sub header" style="margin-top: 20px;">Visually analyze vulnerability history from an open source
      project.<br>Interpret data from vulnerability, source code, developer, and release history that is showcased
      in a <br> simple and interactive timeline.</div>
      <a href="projects" class="ui button" style="margin-top: 20px;">Start by selecting a project</a>
    </h1>
  </div>
  <div class="ui grid" style="margin-top: 2%;">
    <div class="three column row">
      <div class="column">
        <img src="<%=image_path('github-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; margin-top: 10%;">Get familiar with where our data comes from and <br> learn more about contributing to our repository.</p>
      </div>
      <div class="column">
        <img src="<%=image_path('graph-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; margin-top: 10%;">View the vulnerability data for a project.<br><a href="vulnerabilities">Vulnerabilities</a></p>
      </div>
      <div class="column">
        <img src="<%=image_path('research-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; margin-top: 10%;">Researchers can connect directly to our API <br> to get our data quick and easy.</p>
      </div>
    </div>
  </div>

</body>
</html>
