<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="The Vulnerability History Project" />
    <meta property="og:description" content="A museum of mistakes to help us engineer secure software." />
    <meta property="og:image" content=<%= asset_pack_url 'media/images/angler-fish-og-image.png' %> />
    <%= favicon_pack_tag 'angler-fish-favicon.png' %>

    <title>The Vulnerability History Project</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Exo:900|Exo|Open+Sans|Open+Sans:800|Roboto+Slab|Roboto+Slab:700"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          type="text/css"
          rel="stylesheet"/>

    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :head %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-84340HPY4Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-84340HPY4Y');
    </script>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="title-bar" data-responsive-toggle="vhp-nav" data-hide-for="medium">
      <div class="title-bar-left">
        <%= image_pack_tag('angler-fish-32x32.png') %>
        VHP
      </div>
      <div class="top-bar-right">
        <button class="menu-icon" type="button" data-toggle></button>
      </div>
    </div>

    <div class="top-bar" id="vhp-nav">
      <div class="top-bar-left top-bar-title">
        <%= link_to(:controller => "welcome") do %>
          <%= image_pack_tag('angler-fish-32x32.png') %>
          The Vulnerability History Project
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="right"><%= link_to "Vulnerabilities", :controller =>"vulnerabilities" %></li>
          <li class="right"><%= link_to "Code", :controller =>"filepaths" %></li>
          <li class="right"><%= link_to "Articles", :controller =>"articles" %></li>
          <li class="has-submenu is-dropdown-submenu-parent">
            <a href="#">Tags</a>
            <!-- FOUC? I don't think they exist -->
            <!-- is-dropdown-submenu is needed to prevent FOUC on the submenu -->
            <ul class="submenu menu vertical is-dropdown-submenu" data-submenu>
              <li><a href="/tags">All</a></li>
              <li><a href="/tags?search=Project:">Projects</a></li>
              <li><a href="/tags?search=CWE">CWEs</a></li>
              <li><a href="/tags?search=Language">Languages</a></li>
              <li><a href="/tags?search=Lesson">Lessons</a></li>
              <li><a href="/tags?search=Severity:">Severities</a></li>
              <li><a href="/tags?search=Subsystem">Subsystems</a></li>
            </ul>
          </li>
          <li class="has-submenu is-dropdown-submenu-parent">
           <a href="#">More</a>
           <ul class="submenu menu vertical is-dropdown-submenu" data-submenu>
             <li><a href="/projects">Case Studies</a></li>
             <li><a href="/curate">How to Curate</a></li>
             <li><a href="/status">By the Numbers</a></li>
             <li><a href="/about">About Us</a></li>
           </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>

    <a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

    <footer class="footer">
      <ul class="footer-links">
        <li><a href="/about">About Us</a> | </li>
        <li><a href="/about">Contact</a> | </li>
        <li><a href="/about">Licensing</a> | </li>
        <li><a href="https://github.com/VulnerabilityHistoryProject">Github</a></li>
      </ul>
    </footer>
  </body>
</html>
