<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Vulnerability History Project</title>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag :modernizr %>
    <link rel="icon" type="image/png" href="/assets/trowel.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <!--javascript_include_tag "vendor/modernizr"-->
  <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

  <div class="top-bar topnav" id="menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="title-nav"><a href="/welcome">The Vulnerability History Project</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Projects</a>
          <ul class="menu vertical">
            <li><a href="/projects#apache-section">Apache</a></li>
            <li><a href="/projects#chromium-section">Chromium</a></li>
            <li><a href="/projects">...more</a></li>
          </ul>
        </li>
        <li class="right"><a href="/vulnerabilities">Vulnerabilities</a></li>
        <li class="right"><a href="/developers">Developers</a></li>
        <li class="right"><a href="/filepaths">Code</a></li>
        <li class="right"><a href="/releases">Releases</a></li>
        <li class="right"><a href="/tags">Tags</a></li>
      </ul>
    </div>
  </div>

    <%= yield %>

    <!-- Footer -->
    <footer class="footer">
      <div class="row full-width">
        <div class="small-3 columns">
          <h4>Site Navigation</h4>
          <ul class="footer-links">
            <li><a href="/projects">Projects</a></li>
            <%= link_to "Vulnerabilities", :controller =>"vulnerabilities" %>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/filepaths">Source Code</a></li>
            <li><a href="/releases">Releases</a></li>
            <li><a href="/tags">Tags</a></li>
            <%= link_to "Commits", :controller =>"commits" %>

          </ul>
        </div>
        <div class="small-3 columns">
          <h4>About Us</h4>
          <ul class="footer-links">
            <li><a href="/#">About Us</a></li>
            <li><a href="/#">Contributing</a></li>
            <li><a href="https://github.com/andymeneely/vulnerability-history">Github</a></li>
          </ul>
        </div>
        <div class="small-6 columns">
          <i class="fi-laptop" style="text-align: center; width: 50%;"></i>
          <p>The Vulnerability History Project is made and maintained by RIT research-driven, students. This prototype was developed by Dr. Andy Meneely as of 2016.</p>
        </div>
      </div>
    </footer>

  </body>
</html>
