<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="The Vulnerability History Project" />
    <meta property="og:description" content="A museum of mistakes to help us engineer secure software." />
    <meta property="og:image" content="<%= image_path('angler-fish-og-image.png') %>" />

    <%= favicon_link_tag 'angler-fish-favicon.png' %>

    <title> <%= generate_title(yield(:title)) %> </title>

    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Exo:900|Exo|Open+Sans|Open+Sans:800|Roboto+Slab|Roboto+Slab:700"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          type="text/css"
          rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/08505793c1.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'vhp' %>

    <%= yield :head %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-84340HPY4Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-84340HPY4Y', {
        "anonymize_ip": true,
        "cookie_domain": ".vulnerabilityhistory.org",
        "cookie_flags": "SameSite=None;Secure"
      });
    </script>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vhp", "data-turbo-track": "reload", type: 'module' %>
    <script>
      // Expose these for JS routing purposes
      const VHP_ROUTE = "<%=controller_name%>#<%=action_name%>";
    </script>
  </head>

  <body>
    <div class="title-bar" data-responsive-toggle="vhp-nav" data-hide-for="medium">
      <div class="title-bar-left">
        <%= image_tag('angler-fish-32x32.png') %>
        VHP
      </div>
      <div class="top-bar-right">
        <button class="menu-icon" type="button" data-toggle></button>
      </div>
    </div>

    <div class="top-bar" id="vhp-nav">
      <div class="top-bar-left top-bar-title">
        <%= link_to({:controller => "welcome"}, class: current_page(url_for(:controller =>"welcome"))) do %>
          <%= image_tag('angler-fish-32x32.png') %>
          The Vulnerability History Project
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="right"><%= link_to "Vulnerabilities", { :controller =>"vulnerabilities" }, class: current_page(url_for(:controller =>"vulnerabilities")) %></li>
          <li class="right"><%= link_to "Code", { :controller =>"filepaths" }, class: current_page(url_for(:controller =>"filepaths")) %></li>
<%#
          <li class="right"><%= link_to "Articles", { :controller =>"articles" }, class: current_page(url_for(:controller =>"articles"))%>
          <%# </li> %>

          <li class="has-submenu is-dropdown-submenu-parent">
            <a href="#">Tags</a>
            <!-- FOUC? I don't think they exist -->
            <!-- is-dropdown-submenu is needed to prevent FOUC on the submenu -->
            <ul class="submenu menu vertical is-dropdown-submenu" data-submenu>
              <li><%= link_to "All", "/tags", class: current_page("/tags") %></li>
              <li><%= link_to "Projects", "/tags?search=Project:", class: current_page("/tags?search=Project:") %></li>
              <li><%= link_to "CWEs", "/tags?search=CWE", class: current_page("/tags?search=CWE") %></li>
              <li><%= link_to "Languages", "/tags?search=Language", class: current_page("/tags?search=Language") %></li>
              <li><%= link_to "Lessons", "/tags?search=Lesson", class: current_page("/tags?search=Lesson") %></li>
              <li><%= link_to "Severities", "/tags?search=Severity:", class: current_page("/tags?search=Severity:") %></li>
              <li><%= link_to "Subsystems", "/tags?search=Subsystem", class: current_page("/tags?search-Subsystem") %></li>
            </ul>
          </li>
          <li class="has-submenu is-dropdown-submenu-parent">
           <a href="#">More</a>
           <ul class="submenu menu vertical is-dropdown-submenu" data-submenu>
             <li><%= link_to "News", "/news", class: current_page("/news") %></li>
             <li><%= link_to "Projects We Study", "/projects", class: current_page("/projects") %></li>
             <li><%= link_to "How to Curate", "/curate", class: current_page("/curate") %></li>

             <%# <li><%= link_to "Be a Shepherd", "/shepherd", class: current_page("/curate")
             </li>%>

             <li><%= link_to "By the Numbers", "/status", class: current_page("/status") %></li>
             <li><%= link_to "About Us", "/about", class: current_page("/about") %></li>
           </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="alert-error" id="ie-alert" style="display:none">
      <!--
      https://stackoverflow.com/a/21712356/16179502
      -->
      <script>
        var ua = window.navigator.userAgent;
        var isIE = /MSIE|Trident/.test(ua);

        if (isIE) {
            document.getElementById("ie-alert").style.display = "block";
        }
      </script>
      Warning: Our website does not support Internet Explorer, please use Edge instead.
    </div>

    <div class="grid-container <%= yield(:container_css) %>">
      <%= yield %>
    </div>

    <a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

    <footer class="footer">
      <ul class="footer-links">
        <li><a href="/about">About Us</a> | </li>
        <li><a href="/about">Contact</a> | </li>
        <li><a href="/api">API</a> | </li>
        <li><a href="/about#licensing">Licensing</a> | </li>
        <li><a href="https://github.com/VulnerabilityHistoryProject">Github</a> | </li>
        <li><a href="https://github.com/VulnerabilityHistoryProject/vulnerability-history/issues/new">File a Bug</a> | </li>
        <li><a href="/about#cite">Cite</a> | </li>
        <li><a href= "/version"> Version </a></li>
      </ul>
    </footer>
  </body>
</html>
