<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'angler-fish-favicon.png' %>

    <title>The Vulnerability History Project</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Exo:900|Exo|Open+Sans|Open+Sans:800|Roboto+Slab|Roboto+Slab:700"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <%= stylesheet_link_tag 'application', params[:controller], media: "all" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'foundation-icons', media: 'all', 'data-turbolinks' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div> -->

    <div class="top-bar" id="menu">
      <div class="top-bar-left top-bar-title">
        <%= link_to(:controller => "welcome") do %>
          <%= image_tag('angler-fish-32x32.png') %>
          The Vulnerability History Project
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <!-- Andy is disabling this because Foundation has an annoying flash-open bug in its Top Bar - better to not have submenus at all until they fix it -->
          <!-- <li class="has-submenu">
            <a href="#">Case Studies</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="/projects#apache-section">Apache</a></li>
              <li><a href="/projects#chromium-section">Chromium</a></li>
            </ul>
          </li> -->
          <li class="right"><%= link_to "Vulnerabilities", :controller =>"vulnerabilities" %></li>
          <li class="right"><%= link_to "Developers", :controller =>"developers" %></li>
          <li class="right"><%= link_to "Code", :controller =>"filepaths" %></li>
          <li class="right"><%= link_to "Releases", :controller =>"releases" %></li>
          <li class="right"><%= link_to "Tags", :controller =>"tags" %></li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>

    <footer class="footer">
      <ul class="footer-links">
        <li><a href="/#">About Us</a> | </li>
        <li><a href="/#">Contact</a> | </li>
        <li><a href="/#">Licensing</a> | </li>
        <li><a href="https://github.com/andymeneely/vulnerability-history">Github</a></li>
      </ul>
    </footer>
  </body>
</html>
