<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VulnerabilityHistory</title>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag :modernizr %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <!--javascript_include_tag "vendor/modernizr"-->

    <%= csrf_meta_tags %>
  </head>

  <body>

    <ul class="topnav">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li class="right"><a href="#about">About</a></li>
    </ul>

    <%= yield %>

    <!-- Footer -->
    <footer class="footer">
      <div class="row full-width">
        <div class="small-6 medium-3 large-2 columns">
          <h4>Projects</h4>
          <ul class="footer-links">
            <li><a href="#">Chromium</a></li>
            <li><a href="#">Apache</a></li>
            <li><a href="#">More...</a></li>
          </ul>
        </div>
        <div class="small-6 medium-3 large-2 columns">
          <h4>Research Data</h4>
          <ul class="footer-links">
            <li><a href="#">Vulnerabilities</a></li>
            <li><a href="#">Source Code</a></li>
            <li><a href="#">Commits</a></li>
            <li><a href="#">Releases</a></li>
            <li><a href="#">Developers</a></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-4 columns">
          <i class="fi-laptop" style="text-align: center; width: 50%;"></i>
          <p>Our data comes from years of researching our exposed case studies. Much of our work is available on GitHub. blah blah..</p>
        </div>
        <div class="small-12 medium-3 large-4 columns">
          <img src="<%=image_path('logo.png') %>" alt="Vulnerability History" style="margin-top: 6%"><br><br><br>
          <p>The Vulnerability History Project is made and maintained by RIT research-driven, students. This prototype was developed by Dr. Andy Meneely as of 2016.</p>
        </div>
      </div>
    </footer>

  </body>
</html>
