<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Vulnerability History Project</title>
    <%= stylesheet_link_tag 'application', params[:controller], media: "all" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'foundation-icons', media: 'all', 'data-turbolinks' => true %>
    <link rel="icon" type="image/png" href="/assets/trowel.png">
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar topnav" id="menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="title-nav">
            <%= link_to "The Vulnerability History Project", :controller => "welcome" %>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li
            <a href="#">Projects</a>
            <ul class="menu vertical">
              <li><a href="/projects#apache-section">Apache</a></li>
              <li><a href="/projects#chromium-section">Chromium</a></li>
              <li><a href="/projects">...more</a></li>
            </ul>
          </li>
          <li class="right"><%= link_to "Vulnerabilities", :controller =>"vulnerabilities" %></li>
          <li class="right"><%= link_to "Developers", :controller =>"developers" %></li>
          <li class="right"><%= link_to "Code", :controller =>"filepaths" %></li>
          <li class="right"><%= link_to "Releases", :controller =>"releases" %></li>
          <li class="right"><%= link_to "Tags", :controller =>"tags" %></li>
        </ul>
      </div>
    </div>

    <%= yield %>

    <!-- Footer -->
    <footer class="footer">
      <div class="row full-width">
        <div class="small-12 medium-3 columns">
          <h4>Site Navigation</h4>
          <ul class="footer-links">
            <li><a href="/projects">Projects</a></li>
            <li><%= link_to "Vulnerabilities", :controller =>"vulnerabilities" %></li>
            <li><%= link_to "Developers", :controller =>"developers" %></li>
            <li><%= link_to "Code", :controller =>"filepaths" %></li>
            <li><%= link_to "Releases", :controller =>"releases" %></li>
            <li><%= link_to "Tags", :controller =>"tags" %></li>
            <li><%= link_to "Commits", :controller =>"commits" %></li>
          </ul>
        </div>
        <div class="small-12 medium-3 columns">
          <h4>About Us</h4>
          <ul class="footer-links">
            <li><a href="/#">About Us</a></li>
            <li><a href="/#">Contributing</a></li>
            <li><a href="https://github.com/andymeneely/vulnerability-history">Github</a></li>
          </ul>
        </div>
        <div class="small-12 medium-6 columns">
          <i class="fi-laptop" style="text-align: center; width: 50%;"></i>
          <p>The Vulnerability History Project is made and maintained by RIT research-driven, students. This prototype was developed by Dr. Andy Meneely as of 2016.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
