<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_pack_tag 'angler-fish-favicon.png' %>

    <title>The Vulnerability History Project</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Exo:900|Exo|Open+Sans|Open+Sans:800|Roboto+Slab|Roboto+Slab:700"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          type="text/css"
          rel="stylesheet"/>

    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_packs_with_chunks_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="title-bar" data-responsive-toggle="vhp-nav" data-hide-for="medium">
      <div class="title-bar-left">
        <%= image_pack_tag('angler-fish-32x32.png') %>
        VHP
      </div>
      <div class="top-bar-right">
        <button class="menu-icon" type="button" data-toggle></button>
      </div>
    </div>

    <div class="top-bar" id="vhp-nav">
      <div class="top-bar-left top-bar-title">
        <%= link_to(:controller => "welcome") do %>
          <%= image_pack_tag('angler-fish-32x32.png') %>
          The Vulnerability History Project
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="right"><%= link_to "Vulnerabilities", :controller =>"vulnerabilities" %></li>
          <li class="right"><%= link_to "Code", :controller =>"filepaths" %></li>
          <li class="right"><%= link_to "Articles", :controller =>"articles" %></li>
          <li class="has-submenu">
            <a href="#">Tags</a>
            <ul class="submenu menu" data-submenu>
              <li><a href="/tags">All</a></li>
              <li><a href="/tags?search=Project:">Projects</a></li>
              <li><a href="/tags?search=CWE">CWEs</a></li>
              <li><a href="/tags?search=Language">Languages</a></li>
              <li><a href="/tags?search=Lesson">Lessons</a></li>
              <li><a href="/tags?search=Severity:">Severities</a></li>
              <li><a href="/tags?search=Subsystem">Subsystems</a></li>
            </ul>
          </li>
          <li class="right"><%= link_to "Curate", :controller =>'curate' %></li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>

    <a href="#" class="scroll-to-top material-icons md-48 md-dark md-inactive">vertical_align_top</a>

    <footer class="footer">
      <ul class="footer-links">
        <li><a href="/#">About Us</a> | </li>
        <li><a href="/#">Contact</a> | </li>
        <li><a href="/#">Licensing</a> | </li>
        <li><a href="https://github.com/andymeneely/vulnerability-history">Github</a></li>
      </ul>
    </footer>
  </body>
</html>
