<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="The Vulnerability History Project" />
    <meta property="og:description" content="A museum of mistakes to help us engineer secure software." />
    <meta property="og:image" content=<%= asset_pack_url 'media/images/angler-fish-og-image.png' %> />
    <%= favicon_pack_tag 'angler-fish-favicon.png' %>

    <title>The Vulnerability History Project</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Exo:900|Exo|Open+Sans|Open+Sans:800|Roboto+Slab|Roboto+Slab:700"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          type="text/css"
          rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/08505793c1.js" crossorigin="anonymous"></script>

    <%= yield :head %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-84340HPY4Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-84340HPY4Y', {
        "anonymize_ip": true,
        "cookie_domain": ".vulnerabilityhistory.org",
        "cookie_flags": "SameSite=None;Secure"
      });
    </script>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
